In [1]:
!date

Mon Sep 17 12:18:31 CST 2018

In [2]:
import os
import os.path as osp
import pandas as pd
import numpy as np

In [33]:
from ddf_utils.str import to_concept_id

In [3]:
pd.set_option("display.max_rows", 20)

In [4]:
notes = pd.read_csv('../source/notes.zip')

In [5]:
notes

    country  year                                               note
0      3080  1999  As from 1999, data refer to the government con...
1      3130  2013                            Exclude Tehran province
2      3130  2014                            Exclude Tehran province
3      3130  2015         As from 2015, data refer to entire country
4      3283  2008                            Data for West Bank only
5      3283  2009                            Data for West Bank only
6      3283  2010                            Data for West Bank only
7      3283  2011                            Data for West Bank only
8      3283  2012                            Data for West Bank only
9      3283  2013                            Data for West Bank only
..      ...   ...                                                ...
79     4273  2011                   Exclude Kosovo-Metohija province
80     4273  2012                   Exclude Kosovo-Metohija province
81     4273  2013                   Exclude Kosovo-Metohija province
82     4273  2014                   Exclude Kosovo-Metohija province
83     4273  2015                   Exclude Kosovo-Metohija province
84     4303  2014            Exclude non-government controlled areas
85     4303  2015             Exclude non-govenment controlled areas
86     4308  2000  See E&Wales (ICD9), N Ireland (ICD9), Scotland...
87     4350  2001                   Exclude Kosovo-Metohija province
88     4350  2002                   Exclude Kosovo-Metohija province

[89 rows x 3 columns]

In [6]:
icd7 = pd.read_csv('../source/morticd07.zip')

/Users/semio/.pyenv/versions/3.6.5/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
icd7

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1125,NaN,NaN,1955,07A,A000,1,1,8,107822,...,2013.0,2727.0,4126.0,NaN,NaN,214,40543,NaN,NaN,NaN
1,1125,NaN,NaN,1955,07A,A000,2,1,8,105750,...,1745.0,3465.0,5963.0,NaN,NaN,82,39632,NaN,NaN,NaN
2,1125,NaN,NaN,1955,07A,A001,1,1,8,1302,...,8.0,6.0,2.0,NaN,NaN,1,6,NaN,NaN,NaN
3,1125,NaN,NaN,1955,07A,A001,2,1,8,739,...,2.0,1.0,2.0,NaN,NaN,0,4,NaN,NaN,NaN
4,1125,NaN,NaN,1955,07A,A002,1,1,8,69,...,0.0,0.0,0.0,NaN,NaN,0,7,NaN,NaN,NaN
5,1125,NaN,NaN,1955,07A,A002,2,1,8,42,...,0.0,0.0,0.0,NaN,NaN,0,6,NaN,NaN,NaN
6,1125,NaN,NaN,1955,07A,A003,1,1,8,100,...,0.0,1.0,0.0,NaN,NaN,0,3,NaN,NaN,NaN
7,1125,NaN,NaN,1955,07A,A003,2,1,8,73,...,0.0,1.0,0.0,NaN,NaN,0,2,NaN,NaN,NaN
8,1125,NaN,NaN,1955,07A,A004,1,1,8,42,...,0.0,0.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN
9,1125,NaN,NaN,1955,07A,A004,2,1,8,34,...,0.0,0.0,1.0,NaN,NaN,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281739,4340,NaN,NaN,1960,07B,200,1,2,8,189,...,8.0,2.0,1.0,NaN,NaN,0,1,NaN,NaN,NaN
281740,4340,NaN,NaN,1960,07B,200,2,2,8,113,...,4.0,2.0,2.0,NaN,NaN,0,3,NaN,NaN,NaN
281741,4340,NaN,NaN,1960,07B,201,1,2,8,89,...,0.0,0.0,1.0,NaN,NaN,0,0,NaN,NaN,NaN
281742,4340,NaN,NaN,1960,07B,201,2,2,8,55,...,0.0,1.0,1.0,NaN,NaN,0,0,NaN,NaN,NaN
281743,4340,NaN,NaN,1960,07B,202,1,2,8,13,...,1.0,0.0,0.0,NaN,NaN,0,1,NaN,NaN,NaN
281744,4340,NaN,NaN,1960,07B,202,2,2,8,4,...,0.0,0.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN
281745,4340,NaN,NaN,1960,07B,203,1,2,8,13,...,0.0,0.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN
281746,4340,NaN,NaN,1960,07B,203,2,2,8,13,...,0.0,2.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN
281747,4340,NaN,NaN,1960,07B,205,1,2,8,0,...,0.0,0.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN
281748,4340,NaN,NaN,1960,07B,205,2,2,8,0,...,0.0,0.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN

In [8]:
icd7.Year.unique()

array([1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965,
       1966, 1967, 1968, 1950, 1951, 1952, 1953, 1954, 1969, 1970, 1971,
       1972])

In [9]:
icd7.Admin1.unique()

array([ nan, 901.])

In [10]:
icd7.Admin1.dtype

dtype('float64')

In [11]:
icd7.SubDiv.dtype

dtype('O')

In [12]:
icd7.SubDiv.unique()

array([nan, 'A20'], dtype=object)

In [21]:
def is_country(df):
    a = df['Admin1'].fillna(0).map(str)
    b = df['SubDiv'].fillna('')
    c = a + b
    res = c.map(lambda x: True if x == '0.0' else False)
    return res

In [22]:
icd7['is_country'] = is_country(icd7)

In [25]:
icd7[icd7.is_country == True]

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,is_country
0,1125,NaN,NaN,1955,07A,A000,1,1,8,107822,...,2727.0,4126.0,NaN,NaN,214,40543,NaN,NaN,NaN,True
1,1125,NaN,NaN,1955,07A,A000,2,1,8,105750,...,3465.0,5963.0,NaN,NaN,82,39632,NaN,NaN,NaN,True
2,1125,NaN,NaN,1955,07A,A001,1,1,8,1302,...,6.0,2.0,NaN,NaN,1,6,NaN,NaN,NaN,True
3,1125,NaN,NaN,1955,07A,A001,2,1,8,739,...,1.0,2.0,NaN,NaN,0,4,NaN,NaN,NaN,True
4,1125,NaN,NaN,1955,07A,A002,1,1,8,69,...,0.0,0.0,NaN,NaN,0,7,NaN,NaN,NaN,True
5,1125,NaN,NaN,1955,07A,A002,2,1,8,42,...,0.0,0.0,NaN,NaN,0,6,NaN,NaN,NaN,True
6,1125,NaN,NaN,1955,07A,A003,1,1,8,100,...,1.0,0.0,NaN,NaN,0,3,NaN,NaN,NaN,True
7,1125,NaN,NaN,1955,07A,A003,2,1,8,73,...,1.0,0.0,NaN,NaN,0,2,NaN,NaN,NaN,True
8,1125,NaN,NaN,1955,07A,A004,1,1,8,42,...,0.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN,True
9,1125,NaN,NaN,1955,07A,A004,2,1,8,34,...,0.0,1.0,NaN,NaN,0,1,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281739,4340,NaN,NaN,1960,07B,200,1,2,8,189,...,2.0,1.0,NaN,NaN,0,1,NaN,NaN,NaN,True
281740,4340,NaN,NaN,1960,07B,200,2,2,8,113,...,2.0,2.0,NaN,NaN,0,3,NaN,NaN,NaN,True
281741,4340,NaN,NaN,1960,07B,201,1,2,8,89,...,0.0,1.0,NaN,NaN,0,0,NaN,NaN,NaN,True
281742,4340,NaN,NaN,1960,07B,201,2,2,8,55,...,1.0,1.0,NaN,NaN,0,0,NaN,NaN,NaN,True
281743,4340,NaN,NaN,1960,07B,202,1,2,8,13,...,0.0,0.0,NaN,NaN,0,1,NaN,NaN,NaN,True
281744,4340,NaN,NaN,1960,07B,202,2,2,8,4,...,0.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN,True
281745,4340,NaN,NaN,1960,07B,203,1,2,8,13,...,0.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN,True
281746,4340,NaN,NaN,1960,07B,203,2,2,8,13,...,2.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN,True
281747,4340,NaN,NaN,1960,07B,205,1,2,8,0,...,0.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN,True
281748,4340,NaN,NaN,1960,07B,205,2,2,8,0,...,0.0,0.0,NaN,NaN,0,0,NaN,NaN,NaN,True

In [26]:
icd7 = icd7[icd7.is_country == True]

In [27]:
icd7.Frmat.unique()

array([1, 3, 4, 7, 2, 8, 5])

In [28]:
icd7.columns

Index(['Country', 'Admin1', 'SubDiv', 'Year', 'List', 'Cause', 'Sex', 'Frmat',
       'IM_Frmat', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5',
       'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11',
       'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17',
       'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23',
       'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1', 'IM_Deaths2',
       'IM_Deaths3', 'IM_Deaths4', 'is_country'],
      dtype='object')

In [31]:
icd7[['Country', 'Year', 'Cause', 'Sex']].duplicated().any()

False

In [32]:
df1 = icd7[['Country', 'Year', 'Cause', 'Sex', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5',
       'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11',
       'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17',
       'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23',
       'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1', 'IM_Deaths2',
       'IM_Deaths3', 'IM_Deaths4']].copy()

In [34]:
df1 = df1.set_index(['Country', 'Year', 'Cause', 'Sex'])

In [35]:
df1

                        Deaths1  Deaths2  Deaths3  Deaths4  Deaths5  Deaths6  \
Country Year Cause Sex
1125    1955 A000  1     107822    40543    18814   8192.0   2860.0   1440.0
                   2     105750    39632    21606   9090.0   3052.0   1404.0
             A001  1       1302        6       14     17.0     12.0     11.0
                   2        739        4       16     13.0     17.0     10.0
             A002  1         69        7       13      4.0      9.0      5.0
                   2         42        6        8      1.0      3.0      5.0
             A003  1        100        3        5      5.0      1.0      7.0
                   2         73        2        0      3.0      5.0      5.0
             A004  1         42        0        0      0.0      1.0      1.0
                   2         34        1        0      0.0      1.0      0.0
...                         ...      ...      ...      ...      ...      ...
4340    1960 200   1        189        1        7      NaN      NaN      NaN
                   2        113        3        4      NaN      NaN      NaN
             201   1         89        0        3      NaN      NaN      NaN
                   2         55        0        1      NaN      NaN      NaN
             202   1         13        1        2      NaN      NaN      NaN
                   2          4        0        0      NaN      NaN      NaN
             203   1         13        0        0      NaN      NaN      NaN
                   2         13        0        0      NaN      NaN      NaN
             205   1          0        0        0      NaN      NaN      NaN
                   2          0        0        0      NaN      NaN      NaN

                        Deaths7  Deaths8  Deaths9  Deaths10     ...      \
Country Year Cause Sex                                          ...
1125    1955 A000  1       2120   1219.0     1059    1133.0     ...
                   2       1679    899.0      889     826.0     ...
             A001  1         26     22.0       85     149.0     ...
                   2         28     29.0       75      84.0     ...
             A002  1         13      4.0        2       2.0     ...
                   2          5      1.0        1       5.0     ...
             A003  1         14      5.0        8      12.0     ...
                   2         13      6.0        3       7.0     ...
             A004  1          6      3.0        4       3.0     ...
                   2          0      3.0        2       3.0     ...
...                         ...      ...      ...       ...     ...
4340    1960 200   1          8     10.0       11      12.0     ...
                   2          7      6.0        4       8.0     ...
             201   1          4      2.0        3       6.0     ...
                   2          1      1.0        2       6.0     ...
             202   1          1      1.0        0       0.0     ...
                   2          0      0.0        0       1.0     ...
             203   1          0      1.0        0       0.0     ...
                   2          0      0.0        0       0.0     ...
             205   1          0      0.0        0       0.0     ...
                   2          0      0.0        0       0.0     ...

                        Deaths21  Deaths22  Deaths23  Deaths24  Deaths25  \
Country Year Cause Sex
1125    1955 A000  1      2013.0    2727.0    4126.0       NaN       NaN
                   2      1745.0    3465.0    5963.0       NaN       NaN
             A001  1         8.0       6.0       2.0       NaN       NaN
                   2         2.0       1.0       2.0       NaN       NaN
             A002  1         0.0       0.0       0.0       NaN       NaN
                   2         0.0       0.0       0.0       NaN       NaN
             A003  1         0.0       1.0       0.0       NaN       NaN
                   2         0.0       1.0       0.0       NaN       NaN
             A004  1         0.0       0.0       0.0       NaN       NaN
                   2         0.0       0.0       1.0       NaN       NaN
...                          ...       ...       ...       ...       ...
4340    1960 200   1         8.0       2.0       1.0       NaN       NaN
                   2         4.0       2.0       2.0       NaN       NaN
             201   1         0.0       0.0       1.0       NaN       NaN
                   2         0.0       1.0       1.0       NaN       NaN
             202   1         1.0       0.0       0.0       NaN       NaN
                   2         0.0       0.0       0.0       NaN       NaN
             203   1         0.0       0.0       0.0       NaN       NaN
                   2         0.0       2.0       0.0       NaN       NaN
             205   1         0.0       0.0       0.0       NaN       NaN
                   2         0.0       0.0       0.0       NaN       NaN

                        Deaths26  IM_Deaths1  IM_Deaths2  IM_Deaths3  \
Country Year Cause Sex
1125    1955 A000  1         214       40543         NaN         NaN
                   2          82       39632         NaN         NaN
             A001  1           1           6         NaN         NaN
                   2           0           4         NaN         NaN
             A002  1           0           7         NaN         NaN
                   2           0           6         NaN         NaN
             A003  1           0           3         NaN         NaN
                   2           0           2         NaN         NaN
             A004  1           0           0         NaN         NaN
                   2           0           1         NaN         NaN
...                          ...         ...         ...         ...
4340    1960 200   1           0           1         NaN         NaN
                   2           0           3         NaN         NaN
             201   1           0           0         NaN         NaN
                   2           0           0         NaN         NaN
             202   1           0           1         NaN         NaN
                   2           0           0         NaN         NaN
             203   1           0           0         NaN         NaN
                   2           0           0         NaN         NaN
             205   1           0           0         NaN         NaN
                   2           0           0         NaN         NaN

                        IM_Deaths4
Country Year Cause Sex
1125    1955 A000  1           NaN
                   2           NaN
             A001  1           NaN
                   2           NaN
             A002  1           NaN
                   2           NaN
             A003  1           NaN
                   2           NaN
             A004  1           NaN
                   2           NaN
...                            ...
4340    1960 200   1           NaN
                   2           NaN
             201   1           NaN
                   2           NaN
             202   1           NaN
                   2           NaN
             203   1           NaN
                   2           NaN
             205   1           NaN
                   2           NaN

[272041 rows x 30 columns]

In [43]:
concepts = pd.read_csv("../source/concepts.csv")

In [45]:
concepts['concept'] = concepts['Column name'].map(to_concept_id)

In [48]:
concepts.loc[4:, "concept"] = concepts.loc[4:, 'Content'].map(lambda x: to_concept_id(x.replace('at ', '')))

In [49]:
concepts

,Column name,Content,concept
0,Country,Country code,country
1,Year,Year to which data refer,year
2,Cause,Cause of death â€“ For details consult Part 2 be...,cause
3,Sex,"1 male, 2 female and 9 sex unspecified",sex
4,Deaths1,Deaths at all ages,deaths_all_ages
5,Deaths2,Deaths at age 0 year,deaths_age_0_year
6,Deaths3,Deaths at age 1 year,deaths_age_1_year
7,Deaths4,Deaths at age 2 years,deaths_age_2_years
8,Deaths5,Deaths at age 3 years,deaths_age_3_years
9,Deaths6,Deaths at age 4 years,deaths_age_4_years
...,...,...,...
24,Deaths21,Deaths at age 75-79 years,deaths_age_75_79_years
25,Deaths22,Deaths at age 80-84 years,deaths_age_80_84_years
26,Deaths23,Deaths at age 85-89 years,deaths_age_85_89_years
27,Deaths24,Deaths at age 90-94 years,deaths_age_90_94_years
28,Deaths25,Deaths at age 95 years and above,deaths_age_95_years_and_above
29,Deaths26,Deaths at age unspecified,deaths_age_unspecified
30,IM_deaths1,Infant deaths at age 0 day,infant_deaths_age_0_day
31,IM_deaths2,Infant deaths at age 1-6 days,infant_deaths_age_1_6_days
32,IM_deaths3,Infant deaths at age 7-27 days,infant_deaths_age_7_27_days
33,IM_deaths4,Infant deaths at age 28-364 days,infant_deaths_age_28_364_days

In [50]:
cdf = concepts[['concept', 'Content']].copy()

In [51]:
cdf.columns = ['concept', 'name']

cdf.to_csv('../../ddf--concepts.csv', index=False)

In [59]:
concept_mapping = concepts.set_index('Column name')['concept'].to_dict()

In [60]:
concept_mapping

{'Country': 'country',
 'Year': 'year',
 'Cause': 'cause',
 'Sex': 'sex',
 'Deaths1': 'deaths_all_ages',
 'Deaths2': 'deaths_age_0_year',
 'Deaths3': 'deaths_age_1_year',
 'Deaths4': 'deaths_age_2_years',
 'Deaths5': 'deaths_age_3_years',
 'Deaths6': 'deaths_age_4_years',
 'Deaths7': 'deaths_age_5_9_years',
 'Deaths8': 'deaths_age_10_14_years',
 'Deaths9': 'deaths_age_15_19_years',
 'Deaths10': 'deaths_age_20_24_years',
 'Deaths11': 'deaths_age_25_29_years',
 'Deaths12': 'deaths_age_30_34_years',
 'Deaths13': 'deaths_age_35_39_years',
 'Deaths14': 'deaths_age_40_44_years',
 'Deaths15': 'deaths_age_45_49_years',
 'Deaths16': 'deaths_age_50_54_years',
 'Deaths17': 'deaths_age_55_59_years',
 'Deaths18': 'deaths_age_60_64_years',
 'Deaths19': 'deaths_age_65_69_years',
 'Deaths20': 'deaths_age_70_74_years',
 'Deaths21': 'deaths_age_75_79_years',
 'Deaths22': 'deaths_age_80_84_years',
 'Deaths23': 'deaths_age_85_89_years',
 'Deaths24': 'deaths_age_90_94_years',
 'Deaths25': 'deaths_age_95_years_and_above',
 'Deaths26': 'deaths_age_unspecified',
 'IM_deaths1': 'infant_deaths_age_0_day',
 'IM_deaths2': 'infant_deaths_age_1_6_days',
 'IM_deaths3': 'infant_deaths_age_7_27_days',
 'IM_deaths4': 'infant_deaths_age_28_364_days'}

In [68]:
concept_mapping['IM_Deaths1'] = concept_mapping['IM_deaths1']
concept_mapping['IM_Deaths2'] = concept_mapping['IM_deaths2']
concept_mapping['IM_Deaths3'] = concept_mapping['IM_deaths3']
concept_mapping['IM_Deaths4'] = concept_mapping['IM_deaths4']

In [107]:
df1 = icd7[['Country', 'Year', 'Cause', 'Sex', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5',
       'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11',
       'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17',
       'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23',
       'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1', 'IM_Deaths2',
       'IM_Deaths3', 'IM_Deaths4']].copy()

In [108]:
df1.columns

Index(['Country', 'Year', 'Cause', 'Sex', 'Deaths1', 'Deaths2', 'Deaths3',
       'Deaths4', 'Deaths5', 'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9',
       'Deaths10', 'Deaths11', 'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15',
       'Deaths16', 'Deaths17', 'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21',
       'Deaths22', 'Deaths23', 'Deaths24', 'Deaths25', 'Deaths26',
       'IM_Deaths1', 'IM_Deaths2', 'IM_Deaths3', 'IM_Deaths4'],
      dtype='object')

In [109]:
df1.columns = df1.columns.map(concept_mapping)

In [110]:
df1['cause'] = df1['cause'].map(to_concept_id)

In [111]:
df1 = df1[df1.cause.isin(['a138', 'a148', 'a149'])]

In [112]:
df1.cause.unique()

array(['a138', 'a148', 'a149'], dtype=object)

In [113]:
df1.cause = df1.cause.map(
    { "a138": "traffic"
    , "a148": "suicide"
    , "a149": "homicide"
    }
)

In [114]:
df1 = df1.set_index(['country', 'year', 'cause', 'sex'])

In [115]:
df1

                           deaths_all_ages  deaths_age_0_year  \
country year cause    sex
1125    1955 traffic  1                 66                  1
                      2                 12                  0
             suicide  1                 12                  0
                      2                  8                  0
             homicide 1                244                  1
                      2                 31                  1
        1956 traffic  1                 11                  0
                      2                  4                  0
             suicide  1                 12                  0
                      2                  5                  0
...                                    ...                ...
5150    1966 suicide  1                156                  0
                      2                 90                  0
             homicide 1                  9                  0
                      2                 11                  2
        1967 traffic  1                453                  4
                      2                167                  5
             suicide  1                191                  0
                      2                 83                  0
             homicide 1                 21                  3
                      2                 16                  0

                           deaths_age_1_year  deaths_age_2_years  \
country year cause    sex
1125    1955 traffic  1                    0                 0.0
                      2                    1                 0.0
             suicide  1                    0                 0.0
                      2                    0                 0.0
             homicide 1                    0                 1.0
                      2                    0                 0.0
        1956 traffic  1                    0                 0.0
                      2                    1                 0.0
             suicide  1                    0                 0.0
                      2                    0                 0.0
...                                      ...                 ...
5150    1966 suicide  1                    0                 0.0
                      2                    0                 0.0
             homicide 1                    1                 0.0
                      2                    0                 0.0
        1967 traffic  1                    4                 0.0
                      2                    4                 3.0
             suicide  1                    0                 0.0
                      2                    0                 0.0
             homicide 1                    0                 0.0
                      2                    2                 0.0

                           deaths_age_3_years  deaths_age_4_years  \
country year cause    sex
1125    1955 traffic  1                   3.0                 2.0
                      2                   1.0                 0.0
             suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
             homicide 1                   0.0                 0.0
                      2                   0.0                 0.0
        1956 traffic  1                   0.0                 0.0
                      2                   0.0                 1.0
             suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
...                                       ...                 ...
5150    1966 suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
             homicide 1                   0.0                 0.0
                      2                   0.0                 1.0
        1967 traffic  1                   5.0                 5.0
                      2                   5.0                 2.0
             suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
             homicide 1                   0.0                 1.0
                      2                   2.0                 0.0

                           deaths_age_5_9_years  deaths_age_10_14_years  \
country year cause    sex
1125    1955 traffic  1                       5                    29.0
                      2                       5                     0.0
             suicide  1                       1                     1.0
                      2                       0                     1.0
             homicide 1                       2                     6.0
                      2                       1                     4.0
        1956 traffic  1                       1                     5.0
                      2                       1                     0.0
             suicide  1                       0                     0.0
                      2                       0                     0.0
...                                         ...                     ...
5150    1966 suicide  1                       0                     2.0
                      2                       0                     1.0
             homicide 1                       1                     2.0
                      2                       0                     0.0
        1967 traffic  1                      17                    17.0
                      2                       7                     6.0
             suicide  1                       0                     1.0
                      2                       0                     0.0
             homicide 1                       1                     0.0
                      2                       0                     0.0

                           deaths_age_15_19_years  deaths_age_20_24_years  \
country year cause    sex
1125    1955 traffic  1                         4                     2.0
                      2                         0                     0.0
             suicide  1                         0                     0.0
                      2                         1                     0.0
             homicide 1                         9                    26.0
                      2                         2                     1.0
        1956 traffic  1                         1                     1.0
                      2                         0                     0.0
             suicide  1                         0                     5.0
                      2                         0                     0.0
...                                           ...                     ...
5150    1966 suicide  1                         4                     7.0
                      2                         6                     6.0
             homicide 1                         1                     1.0
                      2                         1                     1.0
        1967 traffic  1                        84                    74.0
                      2                        18                    17.0
             suicide  1                         5                    16.0
                      2                         1                     5.0
             homicide 1                         3                     2.0
                      2                         2                     0.0

                                       ...                \
country year cause    sex              ...
1125    1955 traffic  1                ...
                      2                ...
             suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...
        1956 traffic  1                ...
                      2                ...
             suicide  1                ...
                      2                ...
...                                    ...
5150    1966 suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...
        1967 traffic  1                ...
                      2                ...
             suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...

                           deaths_age_75_79_years  deaths_age_80_84_years  \
country year cause    sex
1125    1955 traffic  1                       0.0                     1.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     1.0
                      2                       0.0                     0.0
             homicide 1                       2.0                     2.0
                      2                       0.0                     0.0
        1956 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     1.0
                      2                       1.0                     0.0
...                                           ...                     ...
5150    1966 suicide  1                       5.0                     4.0
                      2                       1.0                     1.0
             homicide 1                       0.0                     0.0
                      2                       0.0                     0.0
        1967 traffic  1                      11.0                     9.0
                      2                       9.0                     6.0
             suicide  1                       8.0                     3.0
                      2                       3.0                     2.0
             homicide 1                       0.0                     0.0
                      2                       0.0                     0.0

                           deaths_age_85_89_years  deaths_age_90_94_years  \
country year cause    sex
1125    1955 traffic  1                       0.0                     NaN
                      2                       0.0                     NaN
             suicide  1                       1.0                     NaN
                      2                       2.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN
        1956 traffic  1                       0.0                     NaN
                      2                       0.0                     NaN
             suicide  1                       0.0                     NaN
                      2                       2.0                     NaN
...                                           ...                     ...
5150    1966 suicide  1                       1.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN
        1967 traffic  1                       6.0                     NaN
                      2                       3.0                     NaN
             suicide  1                       1.0                     NaN
                      2                       1.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN

                           deaths_age_95_years_and_above  \
country year cause    sex
1125    1955 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        1956 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
...                                                  ...
5150    1966 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        1967 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN

                           deaths_age_unspecified  infant_deaths_age_0_day  \
country year cause    sex
1125    1955 traffic  1                         0                        1
                      2                         0                        0
             suicide  1                         0                        0
                      2                         0                        0
             homicide 1                         0                        1
                      2                         0                        1
        1956 traffic  1                         0                        0
                      2                         0                        0
             suicide  1                         0                        0
                      2                         0                        0
...                                           ...                      ...
5150    1966 suicide  1                         0                        0
                      2                         0                        0
             homicide 1                         0                        0
                      2                         0                        2
        1967 traffic  1                         0                        4
                      2                         0                        5
             suicide  1                         0                        0
                      2                         0                        0
             homicide 1                         0                        3
                      2                         0                        0

                           infant_deaths_age_1_6_days  \
country year cause    sex
1125    1955 traffic  1                           NaN
                      2                           NaN
             suicide  1                           NaN
                      2                           NaN
             homicide 1                           NaN
                      2                           NaN
        1956 traffic  1                           NaN
                      2                           NaN
             suicide  1                           NaN
                      2                           NaN
...                                               ...
5150    1966 suicide  1                           NaN
                      2                           NaN
             homicide 1                           NaN
                      2                           NaN
        1967 traffic  1                           NaN
                      2                           NaN
             suicide  1                           NaN
                      2                           NaN
             homicide 1                           NaN
                      2                           NaN

                           infant_deaths_age_7_27_days  \
country year cause    sex
1125    1955 traffic  1                            NaN
                      2                            NaN
             suicide  1                            NaN
                      2                            NaN
             homicide 1                            NaN
                      2                            NaN
        1956 traffic  1                            NaN
                      2                            NaN
             suicide  1                            NaN
                      2                            NaN
...                                                ...
5150    1966 suicide  1                            NaN
                      2                            NaN
             homicide 1                            NaN
                      2                            NaN
        1967 traffic  1                            NaN
                      2                            NaN
             suicide  1                            NaN
                      2                            NaN
             homicide 1                            NaN
                      2                            NaN

                           infant_deaths_age_28_364_days
country year cause    sex
1125    1955 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        1956 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
...                                                  ...
5150    1966 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        1967 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN

[4618 rows x 30 columns]

In [74]:
df1.columns

Index(['deaths_all_ages', 'deaths_age_0_year', 'deaths_age_1_year',
       'deaths_age_2_years', 'deaths_age_3_years', 'deaths_age_4_years',
       'deaths_age_5_9_years', 'deaths_age_10_14_years',
       'deaths_age_15_19_years', 'deaths_age_20_24_years',
       'deaths_age_25_29_years', 'deaths_age_30_34_years',
       'deaths_age_35_39_years', 'deaths_age_40_44_years',
       'deaths_age_45_49_years', 'deaths_age_50_54_years',
       'deaths_age_55_59_years', 'deaths_age_60_64_years',
       'deaths_age_65_69_years', 'deaths_age_70_74_years',
       'deaths_age_75_79_years', 'deaths_age_80_84_years',
       'deaths_age_85_89_years', 'deaths_age_90_94_years',
       'deaths_age_95_years_and_above', 'deaths_age_unspecified',
       'infant_deaths_age_0_day', 'infant_deaths_age_1_6_days',
       'infant_deaths_age_7_27_days', 'infant_deaths_age_28_364_days'],
      dtype='object')

In [87]:
# for c in df1:
#     df_ = df1[c].dropna()
#     if not df_.empty:
#         df_.astype(int).reset_index().to_csv(
#             f'../../ddf--datapoints--{c}--by--country--year--cause--sex.csv', index=False)

In [116]:
icd8 = pd.read_csv("../source/morticd08.zip")

/Users/semio/.pyenv/versions/3.6.5/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [128]:
df2 = icd8[['Country', 'Year', 'Cause', 'Sex', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5',
       'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11',
       'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17',
       'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23',
       'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1', 'IM_Deaths2',
       'IM_Deaths3', 'IM_Deaths4']].copy()

In [129]:
df2.columns

Index(['Country', 'Year', 'Cause', 'Sex', 'Deaths1', 'Deaths2', 'Deaths3',
       'Deaths4', 'Deaths5', 'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9',
       'Deaths10', 'Deaths11', 'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15',
       'Deaths16', 'Deaths17', 'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21',
       'Deaths22', 'Deaths23', 'Deaths24', 'Deaths25', 'Deaths26',
       'IM_Deaths1', 'IM_Deaths2', 'IM_Deaths3', 'IM_Deaths4'],
      dtype='object')

In [130]:
df2.columns = df2.columns.map(concept_mapping)

In [131]:
df2.columns

Index(['country', 'year', 'cause', 'sex', 'deaths_all_ages',
       'deaths_age_0_year', 'deaths_age_1_year', 'deaths_age_2_years',
       'deaths_age_3_years', 'deaths_age_4_years', 'deaths_age_5_9_years',
       'deaths_age_10_14_years', 'deaths_age_15_19_years',
       'deaths_age_20_24_years', 'deaths_age_25_29_years',
       'deaths_age_30_34_years', 'deaths_age_35_39_years',
       'deaths_age_40_44_years', 'deaths_age_45_49_years',
       'deaths_age_50_54_years', 'deaths_age_55_59_years',
       'deaths_age_60_64_years', 'deaths_age_65_69_years',
       'deaths_age_70_74_years', 'deaths_age_75_79_years',
       'deaths_age_80_84_years', 'deaths_age_85_89_years',
       'deaths_age_90_94_years', 'deaths_age_95_years_and_above',
       'deaths_age_unspecified', 'infant_deaths_age_0_day',
       'infant_deaths_age_1_6_days', 'infant_deaths_age_7_27_days',
       'infant_deaths_age_28_364_days'],
      dtype='object')

In [132]:
df2['cause'] = df2['cause'].map(to_concept_id)

In [133]:
df2 = df2[df2.cause.isin(['a138', 'a147', 'a148'])]

In [134]:
df2.cause.unique()

array(['a138', 'a147', 'a148'], dtype=object)

In [135]:
df2.cause = df2.cause.map(
    { "a138": "traffic"
    , "a147": "suicide"
    , "a148": "homicide"
    }
)

In [136]:
df2.cause.unique()

array(['traffic', 'suicide', 'homicide'], dtype=object)

In [137]:
df2 = df2.set_index(['country', 'year', 'cause', 'sex'])

In [138]:
df2

                           deaths_all_ages  deaths_age_0_year  \
country year cause    sex
1060    1980 traffic  1                  3                0.0
                      2                  5                0.0
             suicide  1                  6                0.0
                      2                  1                0.0
             homicide 1                  2                0.0
                      2                  1                1.0
1125    1970 traffic  1                432                5.0
                      2                130                2.0
        1971 traffic  1                426                2.0
                      2                120                2.0
...                                    ...                ...
5150    1978 suicide  1                208                0.0
                      2                114                0.0
             homicide 1                 38                1.0
                      2                 20                1.0
5195    1977 traffic  1                  9                1.0
                      2                  5                0.0
             suicide  1                  2                0.0
                      2                  1                0.0
             homicide 1                  4                0.0
                      2                  0                0.0

                           deaths_age_1_year  deaths_age_2_years  \
country year cause    sex
1060    1980 traffic  1                  0.0                 NaN
                      2                  1.0                 NaN
             suicide  1                  0.0                 NaN
                      2                  0.0                 NaN
             homicide 1                  0.0                 NaN
                      2                  0.0                 NaN
1125    1970 traffic  1                  4.0                 3.0
                      2                  3.0                 3.0
        1971 traffic  1                  0.0                 7.0
                      2                  0.0                 4.0
...                                      ...                 ...
5150    1978 suicide  1                  0.0                 0.0
                      2                  0.0                 0.0
             homicide 1                  0.0                 1.0
                      2                  1.0                 1.0
5195    1977 traffic  1                  0.0                 0.0
                      2                  0.0                 0.0
             suicide  1                  0.0                 0.0
                      2                  0.0                 0.0
             homicide 1                  0.0                 1.0
                      2                  0.0                 0.0

                           deaths_age_3_years  deaths_age_4_years  \
country year cause    sex
1060    1980 traffic  1                   NaN                 NaN
                      2                   NaN                 NaN
             suicide  1                   NaN                 NaN
                      2                   NaN                 NaN
             homicide 1                   NaN                 NaN
                      2                   NaN                 NaN
1125    1970 traffic  1                   5.0                 8.0
                      2                   3.0                 9.0
        1971 traffic  1                   6.0                13.0
                      2                   3.0                 9.0
...                                       ...                 ...
5150    1978 suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
             homicide 1                   0.0                 0.0
                      2                   0.0                 1.0
5195    1977 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
             suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
             homicide 1                   0.0                 0.0
                      2                   0.0                 0.0

                           deaths_age_5_9_years  deaths_age_10_14_years  \
country year cause    sex
1060    1980 traffic  1                     1.0                     NaN
                      2                     1.0                     NaN
             suicide  1                     0.0                     NaN
                      2                     0.0                     NaN
             homicide 1                     0.0                     NaN
                      2                     0.0                     NaN
1125    1970 traffic  1                    60.0                    56.0
                      2                    37.0                    16.0
        1971 traffic  1                    60.0                    71.0
                      2                    30.0                    19.0
...                                         ...                     ...
5150    1978 suicide  1                     0.0                     2.0
                      2                     0.0                     1.0
             homicide 1                     1.0                     2.0
                      2                     1.0                     3.0
5195    1977 traffic  1                     0.0                     1.0
                      2                     0.0                     0.0
             suicide  1                     0.0                     0.0
                      2                     0.0                     0.0
             homicide 1                     0.0                     0.0
                      2                     0.0                     0.0

                           deaths_age_15_19_years  deaths_age_20_24_years  \
country year cause    sex
1060    1980 traffic  1                       0.0                     NaN
                      2                       2.0                     NaN
             suicide  1                       2.0                     NaN
                      2                       1.0                     NaN
             homicide 1                       1.0                     NaN
                      2                       0.0                     NaN
1125    1970 traffic  1                      40.0                    39.0
                      2                       4.0                     1.0
        1971 traffic  1                      36.0                    23.0
                      2                       5.0                     6.0
...                                           ...                     ...
5150    1978 suicide  1                      17.0                    30.0
                      2                       1.0                     7.0
             homicide 1                       4.0                     5.0
                      2                       3.0                     0.0
5195    1977 traffic  1                       3.0                     1.0
                      2                       1.0                     1.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     1.0
             homicide 1                       0.0                     2.0
                      2                       0.0                     0.0

                                       ...                \
country year cause    sex              ...
1060    1980 traffic  1                ...
                      2                ...
             suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...
1125    1970 traffic  1                ...
                      2                ...
        1971 traffic  1                ...
                      2                ...
...                                    ...
5150    1978 suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...
5195    1977 traffic  1                ...
                      2                ...
             suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...

                           deaths_age_75_79_years  deaths_age_80_84_years  \
country year cause    sex
1060    1980 traffic  1                       0.0                     NaN
                      2                       0.0                     NaN
             suicide  1                       1.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN
1125    1970 traffic  1                      11.0                     NaN
                      2                       9.0                     NaN
        1971 traffic  1                       9.0                     NaN
                      2                       2.0                     NaN
...                                           ...                     ...
5150    1978 suicide  1                       8.0                     3.0
                      2                       5.0                     1.0
             homicide 1                       0.0                     0.0
                      2                       1.0                     0.0
5195    1977 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     0.0
             homicide 1                       0.0                     0.0
                      2                       0.0                     0.0

                           deaths_age_85_89_years  deaths_age_90_94_years  \
country year cause    sex
1060    1980 traffic  1                       NaN                     NaN
                      2                       NaN                     NaN
             suicide  1                       NaN                     NaN
                      2                       NaN                     NaN
             homicide 1                       NaN                     NaN
                      2                       NaN                     NaN
1125    1970 traffic  1                       NaN                     NaN
                      2                       NaN                     NaN
        1971 traffic  1                       NaN                     NaN
                      2                       NaN                     NaN
...                                           ...                     ...
5150    1978 suicide  1                       1.0                     NaN
                      2                       1.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN
5195    1977 traffic  1                       0.0                     NaN
                      2                       0.0                     NaN
             suicide  1                       0.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN

                           deaths_age_95_years_and_above  \
country year cause    sex
1060    1980 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
1125    1970 traffic  1                              NaN
                      2                              NaN
        1971 traffic  1                              NaN
                      2                              NaN
...                                                  ...
5150    1978 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
5195    1977 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN

                           deaths_age_unspecified  infant_deaths_age_0_day  \
country year cause    sex
1060    1980 traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
             suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             homicide 1                       0.0                      0.0
                      2                       0.0                      1.0
1125    1970 traffic  1                       1.0                      5.0
                      2                       0.0                      2.0
        1971 traffic  1                       0.0                      2.0
                      2                       0.0                      2.0
...                                           ...                      ...
5150    1978 suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             homicide 1                       0.0                      0.0
                      2                       0.0                      0.0
5195    1977 traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
             suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             homicide 1                       0.0                      0.0
                      2                       0.0                      0.0

                           infant_deaths_age_1_6_days  \
country year cause    sex
1060    1980 traffic  1                           NaN
                      2                           NaN
             suicide  1                           NaN
                      2                           NaN
             homicide 1                           NaN
                      2                           NaN
1125    1970 traffic  1                           NaN
                      2                           NaN
        1971 traffic  1                           NaN
                      2                           NaN
...                                               ...
5150    1978 suicide  1                           0.0
                      2                           0.0
             homicide 1                           0.0
                      2                           0.0
5195    1977 traffic  1                           0.0
                      2                           0.0
             suicide  1                           0.0
                      2                           0.0
             homicide 1                           0.0
                      2                           0.0

                           infant_deaths_age_7_27_days  \
country year cause    sex
1060    1980 traffic  1                            NaN
                      2                            NaN
             suicide  1                            NaN
                      2                            NaN
             homicide 1                            NaN
                      2                            NaN
1125    1970 traffic  1                            NaN
                      2                            NaN
        1971 traffic  1                            NaN
                      2                            NaN
...                                                ...
5150    1978 suicide  1                            0.0
                      2                            0.0
             homicide 1                            0.0
                      2                            0.0
5195    1977 traffic  1                            0.0
                      2                            0.0
             suicide  1                            0.0
                      2                            0.0
             homicide 1                            0.0
                      2                            0.0

                           infant_deaths_age_28_364_days
country year cause    sex
1060    1980 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
1125    1970 traffic  1                              NaN
                      2                              NaN
        1971 traffic  1                              NaN
                      2                              NaN
...                                                  ...
5150    1978 suicide  1                              0.0
                      2                              0.0
             homicide 1                              1.0
                      2                              1.0
5195    1977 traffic  1                              1.0
                      2                              0.0
             suicide  1                              0.0
                      2                              0.0
             homicide 1                              0.0
                      2                              0.0

[5032 rows x 30 columns]

In [88]:
icd9 = pd.read_csv('../source/morticd9.zip')

/Users/semio/.pyenv/versions/3.6.5/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [89]:
icd9.head()

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,2005,NaN,NaN,1983,09A,B00,1,1,1,36,...,11.0,5.0,4.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0
1,2005,NaN,NaN,1983,09A,B00,2,1,1,37,...,2.0,5.0,10.0,NaN,NaN,0.0,0.0,0.0,1.0,0.0
2,2005,NaN,NaN,1983,09A,B01,1,1,1,1,...,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
3,2005,NaN,NaN,1983,09A,B01,2,1,1,0,...,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,2005,NaN,NaN,1983,09A,B010,1,1,1,0,...,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [91]:
icd9.Cause.unique()

array(['B00', 'B01', 'B010', 'B011', 'B012', 'B013', 'B014', 'B015',
       'B019', 'B02', 'B020', 'B022', 'B023', 'B024', 'B025', 'B029',
       'B03', 'B030', 'B032', 'B033', 'B034', 'B035', 'B036', 'B037',
       'B038', 'B04', 'B040', 'B041', 'B042', 'B044', 'B045', 'B046',
       'B047', 'B05', 'B050', 'B051', 'B052', 'B054', 'B06', 'B060',
       'B061', 'B069', 'B07', 'B072', 'B073', 'B074', 'B075', 'B076',
       'B08', 'B09', 'B090', 'B091', 'B093', 'B094', 'B095', 'B10',
       'B100', 'B101', 'B109', 'B11', 'B110', 'B111', 'B113', 'B12',
       'B120', 'B121', 'B122', 'B124', 'B126', 'B13', 'B14', 'B141',
       'B15', 'B16', 'B17', 'B18', 'B181', 'B189', 'B19', 'B190', 'B191',
       'B192', 'B193', 'B20', 'B200', 'B209', 'B21', 'B210', 'B215',
       'B218', 'B22', 'B220', 'B223', 'B225', 'B23', 'B24', 'B25', 'B250',
       'B251', 'B26', 'B260', 'B269', 'B27', 'B270', 'B279', 'B28', 'B29',
       'B30', 'B300', 'B301', 'B303', 'B31', 'B310', 'B32', 'B320',
       'B321', 'B322', 'B323', 'B33', 'B34', 'B340', 'B341', 'B342',
       'B343', 'B347', 'B348', 'B35', 'B350', 'B351', 'B36', 'B360',
       'B37', 'B370', 'B38', 'B380', 'B381', 'B39', 'B390', 'B391',
       'B394', 'B40', 'B41', 'B42', 'B43', 'B44', 'B440', 'B441', 'B442',
       'B45', 'B450', 'B451', 'B452', 'B453', 'B454', 'B455', 'B459',
       'B46', 'B465', 'B466', 'B47', 'B471', 'B48', 'B49', 'B50', 'B51',
       'B52', 'B521', 'B523', 'B524', 'B53', 'B54', 'B55', 'B56', 'B560',
       'B561', 'B569', 'B016', 'B021', 'B031', 'B039', 'B043', 'B049',
       'B053', 'B070', 'B071', 'B077', 'B078', 'B079', 'B092', 'B096',
       'B099', 'B112', 'B119', 'B123', 'B125', 'B129', 'B130', 'B139',
       'B140', 'B149', 'B150', 'B152', 'B153', 'B154', 'B155', 'B159',
       'B180', 'B182', 'B183', 'B211', 'B212', 'B213', 'B214', 'B219',
       'B221', 'B222', 'B224', 'B229', 'B240', 'B249', 'B280', 'B281',
       'B289', 'B290', 'B291', 'B292', 'B293', 'B294', 'B299', 'B302',
       'B304', 'B309', 'B311', 'B312', 'B313', 'B315', 'B319', 'B324',
       'B325', 'B326', 'B327', 'B329', 'B330', 'B331', 'B339', 'B344',
       'B345', 'B346', 'B349', 'B352', 'B353', 'B359', 'B369', 'B371',
       'B372', 'B373', 'B374', 'B379', 'B382', 'B389', 'B392', 'B393',
       'B399', 'B420', 'B429', 'B430', 'B431', 'B432', 'B433', 'B434',
       'B435', 'B436', 'B439', 'B443', 'B444', 'B446', 'B447', 'B449',
       'B461', 'B462', 'B464', 'B467', 'B469', 'B470', 'B472', 'B473',
       'B474', 'B479', 'B480', 'B481', 'B482', 'B520', 'B522', 'B529',
       'B217', 'B305', 'B314', 'B375', 'B437', 'B463', 'S47', '140',
       '141', '142', '143', '144', '145', '146', '147', '148', '149',
       '156', '158', '159', '160', '163', '164', '165', '171', '175',
       '179', '182', '184', '187', '189', '190', '192', '193', '194',
       '195', '196', '197', '198', '199', '200', '202', '203', '204',
       '205', '206', '207', '208', '235', '236', '237', '238', '239',
       'B048', 'B059', 'B151', 'B156', 'B216', 'B230', 'B231', 'B232',
       'B234', 'B235', 'B241', 'B361', 'B362', 'B363', 'B376', 'CH17',
       'B233', 'B239', 'B445', 'B460', '1410', '1460', '1533', '1540',
       '1541', '1551', '1552', '1560', '1600', '1602', '1610', '1830',
       '1877', '1890', '1891', '1892', '2000', '2001', '2002', '2030',
       '2040', '2050', '415+', '416', '420+', 'B184', 'B185', 'CH01',
       'CH02', 'CH03', 'CH04', 'CH05', 'CH06', 'CH07', 'CH08', 'CH09',
       'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH16', 'S019',
       'S020', 'S029', 'S039', 'S049', 'S059', 'S06', 'S08', 'S08X',
       'S149', 'S15', 'S189', 'S229', 'S300', 'S309', 'S310', 'S329',
       'S343', 'S347', 'S349', 'S359', 'S399', 'S449', 'S459', 'S469',
       'S479', 'C001', 'C002', 'C003', 'C004', 'C005', 'C006', 'C007',
       'C008', 'C009', 'C010', 'C011', 'C012', 'C013', 'C014', 'C015',
       'C016', 'C017', 'C018', 'C019', 'C020', 'C021', 'C022', 'C023',
       'C024', 'C025', 'C026', 'C027', 'C028', 'C029', 'C030', 'C031',
       'C032', 'C033', 'C034', 'C035', 'C036', 'C037', 'C038', 'C039',
       'C040', 'C041', 'C042', 'C043', 'C044', 'C045', 'C046', 'C047',
       'C048', 'C049', 'C050', 'C051', 'C052', 'C053', 'C054', 'C055',
       'C056', 'C057', 'C058', 'C059', 'C060', 'C061', 'C062', 'C063',
       'C064', 'C065', 'C066', 'C067', 'C068', 'C069', 'C070', 'C071',
       'C072', 'C073', 'C074', 'C075', 'C076', 'C077', 'C078', 'C079',
       'C080', 'C081', 'C089', 'C090', 'C091', 'C092', 'C093', 'C094',
       'C095', 'C096', 'C097', 'C098', 'C099', 'C100', 'C101', 'C102',
       'C103'], dtype=object)

In [139]:
d9 = {"b471": "traffic"
      , "b472": "traffic"  # TODO: late effects from traffic is missing (E929.0). here using B529
      , "b529": "traffic"
     , "b54": "suicide"
     , "b55": "homicide"
     }

In [147]:
df3 = icd9[['Country', 'Year', 'Cause', 'Sex', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5',
       'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11',
       'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17',
       'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23',
       'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1', 'IM_Deaths2',
       'IM_Deaths3', 'IM_Deaths4']].copy()

In [148]:
df3.columns

Index(['Country', 'Year', 'Cause', 'Sex', 'Deaths1', 'Deaths2', 'Deaths3',
       'Deaths4', 'Deaths5', 'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9',
       'Deaths10', 'Deaths11', 'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15',
       'Deaths16', 'Deaths17', 'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21',
       'Deaths22', 'Deaths23', 'Deaths24', 'Deaths25', 'Deaths26',
       'IM_Deaths1', 'IM_Deaths2', 'IM_Deaths3', 'IM_Deaths4'],
      dtype='object')

In [149]:
df3.columns = df3.columns.map(concept_mapping)

In [150]:
df3.columns

Index(['country', 'year', 'cause', 'sex', 'deaths_all_ages',
       'deaths_age_0_year', 'deaths_age_1_year', 'deaths_age_2_years',
       'deaths_age_3_years', 'deaths_age_4_years', 'deaths_age_5_9_years',
       'deaths_age_10_14_years', 'deaths_age_15_19_years',
       'deaths_age_20_24_years', 'deaths_age_25_29_years',
       'deaths_age_30_34_years', 'deaths_age_35_39_years',
       'deaths_age_40_44_years', 'deaths_age_45_49_years',
       'deaths_age_50_54_years', 'deaths_age_55_59_years',
       'deaths_age_60_64_years', 'deaths_age_65_69_years',
       'deaths_age_70_74_years', 'deaths_age_75_79_years',
       'deaths_age_80_84_years', 'deaths_age_85_89_years',
       'deaths_age_90_94_years', 'deaths_age_95_years_and_above',
       'deaths_age_unspecified', 'infant_deaths_age_0_day',
       'infant_deaths_age_1_6_days', 'infant_deaths_age_7_27_days',
       'infant_deaths_age_28_364_days'],
      dtype='object')

In [151]:
df3.cause = df3.cause.map(to_concept_id)

In [152]:
df3 = df3[df3.cause.isin(list(d9.keys()))]

In [153]:
df3.cause.unique()

array(['b471', 'b54', 'b55', 'b472', 'b529'], dtype=object)

In [154]:
df3.cause = df3.cause.map(d9)

In [156]:
df3 = df3.groupby(['country', 'year', 'cause', 'sex']).agg("sum")

In [157]:
df3

                           deaths_all_ages  deaths_age_0_year  \
country year cause    sex
1125    1980 homicide 1                294                3.0
                      2                 77                2.0
             suicide  1                 10                0.0
                      2                  5                0.0
             traffic  1               3496               79.0
                      2                906               14.0
        1987 homicide 1                191                0.0
                      2                 50                0.0
             suicide  1                 14                0.0
                      2                  8                0.0
...                                    ...                ...
5150    1999 suicide  1                385                0.0
                      2                131                0.0
             traffic  1                399                4.0
                      2                218                7.0
5195    1980 homicide 1                  3                0.0
                      2                  1                0.0
             suicide  1                  2                0.0
                      2                  3                0.0
             traffic  1                 29                0.0
                      2                  9                0.0

                           deaths_age_1_year  deaths_age_2_years  \
country year cause    sex
1125    1980 homicide 1                  1.0                 1.0
                      2                  0.0                 0.0
             suicide  1                  0.0                 0.0
                      2                  0.0                 0.0
             traffic  1                  6.0                16.0
                      2                  4.0                23.0
        1987 homicide 1                  1.0                 0.0
                      2                  0.0                 0.0
             suicide  1                  0.0                 0.0
                      2                  0.0                 0.0
...                                      ...                 ...
5150    1999 suicide  1                  0.0                 0.0
                      2                  0.0                 0.0
             traffic  1                  4.0                 2.0
                      2                  0.0                 1.0
5195    1980 homicide 1                  0.0                 0.0
                      2                  0.0                 0.0
             suicide  1                  0.0                 0.0
                      2                  0.0                 0.0
             traffic  1                  0.0                 0.0
                      2                  0.0                 0.0

                           deaths_age_3_years  deaths_age_4_years  \
country year cause    sex
1125    1980 homicide 1                   0.0                 4.0
                      2                   0.0                 0.0
             suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
             traffic  1                  51.0                48.0
                      2                  29.0                30.0
        1987 homicide 1                   0.0                 2.0
                      2                   0.0                 2.0
             suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
...                                       ...                 ...
5150    1999 suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
             traffic  1                   0.0                 1.0
                      2                   3.0                 3.0
5195    1980 homicide 1                   0.0                 0.0
                      2                   0.0                 0.0
             suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
             traffic  1                   0.0                 0.0
                      2                   0.0                 0.0

                           deaths_age_5_9_years  deaths_age_10_14_years  \
country year cause    sex
1125    1980 homicide 1                     8.0                     6.0
                      2                     6.0                     4.0
             suicide  1                     0.0                     0.0
                      2                     0.0                     0.0
             traffic  1                   245.0                   256.0
                      2                   118.0                    94.0
        1987 homicide 1                     4.0                     3.0
                      2                     4.0                     3.0
             suicide  1                     0.0                     0.0
                      2                     0.0                     0.0
...                                         ...                     ...
5150    1999 suicide  1                     0.0                     3.0
                      2                     0.0                     3.0
             traffic  1                     6.0                    12.0
                      2                     3.0                     7.0
5195    1980 homicide 1                     0.0                     0.0
                      2                     0.0                     0.0
             suicide  1                     0.0                     0.0
                      2                     0.0                     0.0
             traffic  1                     0.0                     0.0
                      2                     0.0                     0.0

                           deaths_age_15_19_years  deaths_age_20_24_years  \
country year cause    sex
1125    1980 homicide 1                      14.0                    24.0
                      2                       6.0                     7.0
             suicide  1                       1.0                     1.0
                      2                       2.0                     1.0
             traffic  1                     289.0                   277.0
                      2                      80.0                    65.0
        1987 homicide 1                       9.0                    15.0
                      2                       4.0                     3.0
             suicide  1                       0.0                     1.0
                      2                       1.0                     1.0
...                                           ...                     ...
5150    1999 suicide  1                      29.0                    54.0
                      2                      19.0                    18.0
             traffic  1                      48.0                    46.0
                      2                      32.0                    17.0
5195    1980 homicide 1                       0.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     0.0
             traffic  1                       0.0                     0.0
                      2                       0.0                     0.0

                                       ...                \
country year cause    sex              ...
1125    1980 homicide 1                ...
                      2                ...
             suicide  1                ...
                      2                ...
             traffic  1                ...
                      2                ...
        1987 homicide 1                ...
                      2                ...
             suicide  1                ...
                      2                ...
...                                    ...
5150    1999 suicide  1                ...
                      2                ...
             traffic  1                ...
                      2                ...
5195    1980 homicide 1                ...
                      2                ...
             suicide  1                ...
                      2                ...
             traffic  1                ...
                      2                ...

                           deaths_age_75_79_years  deaths_age_80_84_years  \
country year cause    sex
1125    1980 homicide 1                       2.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     0.0
             traffic  1                      36.0                     0.0
                      2                      11.0                     0.0
        1987 homicide 1                       2.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0
                      2                       1.0                     0.0
...                                           ...                     ...
5150    1999 suicide  1                      10.0                     6.0
                      2                       3.0                     2.0
             traffic  1                      20.0                     7.0
                      2                       9.0                     8.0
5195    1980 homicide 1                       0.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     0.0
             traffic  1                       0.0                     0.0
                      2                       0.0                     0.0

                           deaths_age_85_89_years  deaths_age_90_94_years  \
country year cause    sex
1125    1980 homicide 1                       0.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     0.0
             traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
        1987 homicide 1                       0.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     0.0
...                                           ...                     ...
5150    1999 suicide  1                       2.0                     0.0
                      2                       1.0                     0.0
             traffic  1                      11.0                     0.0
                      2                      20.0                     0.0
5195    1980 homicide 1                       0.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     0.0
             traffic  1                       0.0                     0.0
                      2                       0.0                     0.0

                           deaths_age_95_years_and_above  \
country year cause    sex
1125    1980 homicide 1                              0.0
                      2                              0.0
             suicide  1                              0.0
                      2                              0.0
             traffic  1                              0.0
                      2                              0.0
        1987 homicide 1                              0.0
                      2                              0.0
             suicide  1                              0.0
                      2                              0.0
...                                                  ...
5150    1999 suicide  1                              0.0
                      2                              0.0
             traffic  1                              0.0
                      2                              0.0
5195    1980 homicide 1                              0.0
                      2                              0.0
             suicide  1                              0.0
                      2                              0.0
             traffic  1                              0.0
                      2                              0.0

                           deaths_age_unspecified  infant_deaths_age_0_day  \
country year cause    sex
1125    1980 homicide 1                       0.0                      3.0
                      2                       0.0                      2.0
             suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             traffic  1                       0.0                     79.0
                      2                       0.0                     14.0
        1987 homicide 1                       0.0                      0.0
                      2                       0.0                      0.0
             suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
...                                           ...                      ...
5150    1999 suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
5195    1980 homicide 1                       0.0                      0.0
                      2                       0.0                      0.0
             suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             traffic  1                       0.0                      0.0
                      2                       0.0                      0.0

                           infant_deaths_age_1_6_days  \
country year cause    sex
1125    1980 homicide 1                           0.0
                      2                           0.0
             suicide  1                           0.0
                      2                           0.0
             traffic  1                           0.0
                      2                           0.0
        1987 homicide 1                           0.0
                      2                           0.0
             suicide  1                           0.0
                      2                           0.0
...                                               ...
5150    1999 suicide  1                           0.0
                      2                           0.0
             traffic  1                           0.0
                      2                           0.0
5195    1980 homicide 1                           0.0
                      2                           0.0
             suicide  1                           0.0
                      2                           0.0
             traffic  1                           0.0
                      2                           0.0

                           infant_deaths_age_7_27_days  \
country year cause    sex
1125    1980 homicide 1                            0.0
                      2                            0.0
             suicide  1                            0.0
                      2                            0.0
             traffic  1                            0.0
                      2                            0.0
        1987 homicide 1                            0.0
                      2                            0.0
             suicide  1                            0.0
                      2                            0.0
...                                                ...
5150    1999 suicide  1                            0.0
                      2                            0.0
             traffic  1                            0.0
                      2                            0.0
5195    1980 homicide 1                            0.0
                      2                            0.0
             suicide  1                            0.0
                      2                            0.0
             traffic  1                            0.0
                      2                            0.0

                           infant_deaths_age_28_364_days
country year cause    sex
1125    1980 homicide 1                              0.0
                      2                              0.0
             suicide  1                              0.0
                      2                              0.0
             traffic  1                              0.0
                      2                              0.0
        1987 homicide 1                              0.0
                      2                              0.0
             suicide  1                              0.0
                      2                              0.0
...                                                  ...
5150    1999 suicide  1                              0.0
                      2                              0.0
             traffic  1                              4.0
                      2                              7.0
5195    1980 homicide 1                              0.0
                      2                              0.0
             suicide  1                              0.0
                      2                              0.0
             traffic  1                              0.0
                      2                              0.0

[10143 rows x 30 columns]

In [190]:
icd10 = pd.read_csv('../source/Morticd10_part1.zip')

/Users/semio/.pyenv/versions/3.6.5/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [191]:
df4 = icd10[['Country', 'Year', 'Cause', 'Sex', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5',
       'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11',
       'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17',
       'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23',
       'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1', 'IM_Deaths2',
       'IM_Deaths3', 'IM_Deaths4']].copy()

In [192]:
df4.columns

Index(['Country', 'Year', 'Cause', 'Sex', 'Deaths1', 'Deaths2', 'Deaths3',
       'Deaths4', 'Deaths5', 'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9',
       'Deaths10', 'Deaths11', 'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15',
       'Deaths16', 'Deaths17', 'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21',
       'Deaths22', 'Deaths23', 'Deaths24', 'Deaths25', 'Deaths26',
       'IM_Deaths1', 'IM_Deaths2', 'IM_Deaths3', 'IM_Deaths4'],
      dtype='object')

In [193]:
df4.columns = df4.columns.map(concept_mapping)

In [194]:
df4[df4.cause == "V105"]

,country,year,cause,sex,deaths_all_ages,deaths_age_0_year,deaths_age_1_year,deaths_age_2_years,deaths_age_3_years,deaths_age_4_years,...,deaths_age_75_79_years,deaths_age_80_84_years,deaths_age_85_89_years,deaths_age_90_94_years,deaths_age_95_years_and_above,deaths_age_unspecified,infant_deaths_age_0_day,infant_deaths_age_1_6_days,infant_deaths_age_7_27_days,infant_deaths_age_28_364_days
398246,2130,2000,V105,1,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
571224,2350,2004,V105,1,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902492,4045,1997,V105,1,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
919804,4045,2003,V105,2,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
991646,4085,2000,V105,2,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [183]:
d10 = {
    #"Y850": "traffic",
    # "1096": "traffic",
    "1101": "suicide",
    "Y870": "suicide",
    "1102": "homicide",
    "Y871": "homicide"
}

In [187]:
traffic = [
    "V011", "V019",
    "V021", "V029",
    "V031", "V039",
    "V041", "V049",
    "V061", "V069",
    "V092", "V093",
    
    "V103", "V104", "V105", "V109",
    "V113", "V114", "V115", "V119",
    "V123", "V124", "V125", "V129",
    "V133", "V134", "V135", "V139",
    "V143", "V144", "V145", "V149",
    "V154", "V155", "V159",
    "V164", "V165", "V169",
    "V174", "V175", "V179",
    "V184", "V185", "V189",
    "V194", "V195", "V196", "V198", "V199",
    
    "V203", "V204", "V205", "V209",
    "V213", "V214", "V215", "V219",
    "V223", "V224", "V225", "V229",
    "V233", "V234", "V235", "V239",
    "V243", "V244", "V245", "V249",
    "V253", "V254", "V255", "V259",
    "V263", "V264", "V265", "V269",
    "V273", "V274", "V275", "V279",
    "V283", "V284", "V285", "V289",
    "V294", "V295", "V296", "V298", "V299",
    
    "V304", "V305", "V306", "V307", "V309",
    "V314", "V315", "V316", "V317", "V319",
    "V324", "V325", "V326", "V327", "V329",
    "V334", "V335", "V336", "V337", "V339",
    "V344", "V345", "V346", "V347", "V349",
    "V354", "V355", "V356", "V357", "V359",
    "V364", "V365", "V366", "V367", "V369",
    "V374", "V375", "V376", "V377", "V379",
    "V384", "V385", "V386", "V387", "V389",
    "V394", "V395", "V396", "V398", "V399",
    
    "V404", "V405", "V406", "V407", "V409",
    "V414", "V415", "V416", "V417", "V419",
    "V424", "V425", "V426", "V427", "V429",
    "V434", "V435", "V436", "V437", "V439",
    "V444", "V445", "V446", "V447", "V449",
    "V454", "V455", "V456", "V457", "V459",
    "V464", "V465", "V466", "V467", "V469",
    "V474", "V475", "V476", "V477", "V479",
    "V484", "V485", "V486", "V487", "V489",
    "V494", "V495", "V496", "V498", "V499",
    
    "V504", "V505", "V506", "V507", "V509",
    "V514", "V515", "V516", "V517", "V519",
    "V524", "V525", "V526", "V527", "V529",
    "V534", "V535", "V536", "V537", "V539",
    "V544", "V545", "V546", "V547", "V549",
    "V554", "V555", "V556", "V557", "V559",
    "V564", "V565", "V566", "V567", "V569",
    "V574", "V575", "V576", "V577", "V579",
    "V584", "V585", "V586", "V587", "V589",
    "V594", "V595", "V596", "V598", "V599",
    
    "V604", "V605", "V606", "V607", "V609",
    "V614", "V615", "V616", "V617", "V619",
    "V624", "V625", "V626", "V627", "V629",
    "V634", "V635", "V636", "V637", "V639",
    "V644", "V645", "V646", "V647", "V649",
    "V654", "V655", "V656", "V657", "V659",
    "V664", "V665", "V666", "V667", "V669",
    "V674", "V675", "V676", "V677", "V679",
    "V684", "V685", "V686", "V687", "V689",
    "V694", "V695", "V696", "V698", "V699",
    
    "V704", "V705", "V706", "V707", "V709",
    "V714", "V715", "V716", "V717", "V719",
    "V724", "V725", "V726", "V727", "V729",
    "V734", "V735", "V736", "V737", "V739",
    "V744", "V745", "V746", "V747", "V749",
    "V754", "V755", "V756", "V757", "V759",
    "V764", "V765", "V766", "V767", "V769",
    "V774", "V775", "V776", "V777", "V779",
    "V784", "V785", "V786", "V787", "V789",
    "V794", "V795", "V796", "V798", "V799",
    
    "V803", "V804", "V805",
    "V811",
    "V821", "V828", "V829",
    "V830", "V831", "V832", "V833",
    "V840", "V841", "V842", "V843",
    "V850", "V851", "V852", "V853",
    "V860", "V861", "V862", "V863",
    "V870", "V871", "V872", "V873", "V874", "V875", "V876", "V877","V878", "V879",

    "V892", "V893",
    "V899",
    "V99",
    "Y850"
]

In [188]:
for i in traffic:
    d10[i] = "traffic"

In [196]:
df4 = df4[df4.cause.isin(list(d10.keys()))]

In [197]:
df4

,country,year,cause,sex,deaths_all_ages,deaths_age_0_year,deaths_age_1_year,deaths_age_2_years,deaths_age_3_years,deaths_age_4_years,...,deaths_age_75_79_years,deaths_age_80_84_years,deaths_age_85_89_years,deaths_age_90_94_years,deaths_age_95_years_and_above,deaths_age_unspecified,infant_deaths_age_0_day,infant_deaths_age_1_6_days,infant_deaths_age_7_27_days,infant_deaths_age_28_364_days
193,1400,2001,1101,1,5,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
194,1400,2001,1101,2,1,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
195,1400,2001,1102,1,2,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
196,1400,2001,1102,2,0,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
392,1400,2002,1101,1,5,0.0,0.0,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
393,1400,2002,1101,2,0,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
394,1400,2002,1102,1,5,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
395,1400,2002,1102,2,0,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
591,1400,2003,1101,1,6,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
592,1400,2003,1101,2,2,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1377854,4290,1998,V830,1,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1377856,4290,1998,V841,1,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1377860,4290,1998,V860,1,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1377863,4290,1998,V878,1,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1377865,4290,1998,V892,1,17,0.0,0.0,1.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1377866,4290,1998,V892,2,8,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1377867,4290,1998,V893,2,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1378112,4290,1998,Y850,1,5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1378113,4290,1998,Y850,2,2,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1378118,4290,1998,Y870,1,2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [205]:
df4.cause = df4.cause.map(d10)

In [206]:
df4.cause.unique()

array(['suicide', 'homicide', 'traffic'], dtype=object)

In [208]:
df4 = df4.set_index(['country', 'year', 'cause', 'sex'])

In [209]:
df4

                           deaths_all_ages  deaths_age_0_year  \
country year cause    sex
1400    2001 suicide  1                  5                0.0
                      2                  1                0.0
             homicide 1                  2                0.0
                      2                  0                0.0
        2002 suicide  1                  5                0.0
                      2                  0                0.0
             homicide 1                  5                0.0
                      2                  0                0.0
        2003 suicide  1                  6                0.0
                      2                  2                0.0
...                                    ...                ...
4290    1998 traffic  1                  1                0.0
                      1                  1                0.0
                      1                  3                0.0
                      1                  1                0.0
                      1                 17                0.0
                      2                  8                0.0
                      2                  1                0.0
                      1                  5                0.0
                      2                  2                0.0
             suicide  1                  2                0.0

                           deaths_age_1_year  deaths_age_2_years  \
country year cause    sex
1400    2001 suicide  1                  0.0                 NaN
                      2                  0.0                 NaN
             homicide 1                  0.0                 NaN
                      2                  0.0                 NaN
        2002 suicide  1                  0.0                 NaN
                      2                  0.0                 NaN
             homicide 1                  0.0                 NaN
                      2                  0.0                 NaN
        2003 suicide  1                  0.0                 NaN
                      2                  0.0                 NaN
...                                      ...                 ...
4290    1998 traffic  1                  0.0                 0.0
                      1                  0.0                 0.0
                      1                  0.0                 0.0
                      1                  0.0                 0.0
                      1                  0.0                 1.0
                      2                  0.0                 0.0
                      2                  0.0                 0.0
                      1                  0.0                 0.0
                      2                  0.0                 0.0
             suicide  1                  0.0                 0.0

                           deaths_age_3_years  deaths_age_4_years  \
country year cause    sex
1400    2001 suicide  1                   NaN                 NaN
                      2                   NaN                 NaN
             homicide 1                   NaN                 NaN
                      2                   NaN                 NaN
        2002 suicide  1                   NaN                 NaN
                      2                   NaN                 NaN
             homicide 1                   NaN                 NaN
                      2                   NaN                 NaN
        2003 suicide  1                   NaN                 NaN
                      2                   NaN                 NaN
...                                       ...                 ...
4290    1998 traffic  1                   0.0                 0.0
                      1                   0.0                 0.0
                      1                   0.0                 0.0
                      1                   0.0                 0.0
                      1                   0.0                 0.0
                      2                   0.0                 0.0
                      2                   0.0                 0.0
                      1                   0.0                 0.0
                      2                   0.0                 0.0
             suicide  1                   0.0                 0.0

                           deaths_age_5_9_years  deaths_age_10_14_years  \
country year cause    sex
1400    2001 suicide  1                     0.0                     NaN
                      2                     0.0                     NaN
             homicide 1                     0.0                     NaN
                      2                     0.0                     NaN
        2002 suicide  1                     0.0                     NaN
                      2                     0.0                     NaN
             homicide 1                     0.0                     NaN
                      2                     0.0                     NaN
        2003 suicide  1                     0.0                     NaN
                      2                     0.0                     NaN
...                                         ...                     ...
4290    1998 traffic  1                     0.0                     0.0
                      1                     1.0                     0.0
                      1                     0.0                     0.0
                      1                     0.0                     0.0
                      1                     0.0                     1.0
                      2                     0.0                     2.0
                      2                     0.0                     0.0
                      1                     0.0                     0.0
                      2                     0.0                     0.0
             suicide  1                     0.0                     0.0

                           deaths_age_15_19_years  deaths_age_20_24_years  \
country year cause    sex
1400    2001 suicide  1                       0.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       1.0                     NaN
                      2                       0.0                     NaN
        2002 suicide  1                       1.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       3.0                     NaN
                      2                       0.0                     NaN
        2003 suicide  1                       1.0                     NaN
                      2                       0.0                     NaN
...                                           ...                     ...
4290    1998 traffic  1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      2                       0.0                     0.0
                      2                       0.0                     0.0
                      1                       0.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0

                                       ...                \
country year cause    sex              ...
1400    2001 suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...
        2002 suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...
        2003 suicide  1                ...
                      2                ...
...                                    ...
4290    1998 traffic  1                ...
                      1                ...
                      1                ...
                      1                ...
                      1                ...
                      2                ...
                      2                ...
                      1                ...
                      2                ...
             suicide  1                ...

                           deaths_age_75_79_years  deaths_age_80_84_years  \
country year cause    sex
1400    2001 suicide  1                       0.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN
        2002 suicide  1                       1.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN
        2003 suicide  1                       0.0                     NaN
                      2                       0.0                     NaN
...                                           ...                     ...
4290    1998 traffic  1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     2.0
                      2                       0.0                     1.0
                      2                       0.0                     0.0
                      1                       0.0                     0.0
                      2                       0.0                     1.0
             suicide  1                       0.0                     0.0

                           deaths_age_85_89_years  deaths_age_90_94_years  \
country year cause    sex
1400    2001 suicide  1                       NaN                     NaN
                      2                       NaN                     NaN
             homicide 1                       NaN                     NaN
                      2                       NaN                     NaN
        2002 suicide  1                       NaN                     NaN
                      2                       NaN                     NaN
             homicide 1                       NaN                     NaN
                      2                       NaN                     NaN
        2003 suicide  1                       NaN                     NaN
                      2                       NaN                     NaN
...                                           ...                     ...
4290    1998 traffic  1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      2                       0.0                     0.0
                      2                       1.0                     0.0
                      1                       0.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0

                           deaths_age_95_years_and_above  \
country year cause    sex
1400    2001 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        2002 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        2003 suicide  1                              NaN
                      2                              NaN
...                                                  ...
4290    1998 traffic  1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      2                              0.0
                      2                              0.0
                      1                              0.0
                      2                              0.0
             suicide  1                              0.0

                           deaths_age_unspecified  infant_deaths_age_0_day  \
country year cause    sex
1400    2001 suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             homicide 1                       0.0                      0.0
                      2                       0.0                      0.0
        2002 suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             homicide 1                       0.0                      0.0
                      2                       0.0                      0.0
        2003 suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
...                                           ...                      ...
4290    1998 traffic  1                       0.0                      0.0
                      1                       0.0                      0.0
                      1                       0.0                      0.0
                      1                       0.0                      0.0
                      1                       0.0                      0.0
                      2                       0.0                      0.0
                      2                       0.0                      0.0
                      1                       0.0                      0.0
                      2                       0.0                      0.0
             suicide  1                       0.0                      0.0

                           infant_deaths_age_1_6_days  \
country year cause    sex
1400    2001 suicide  1                           NaN
                      2                           NaN
             homicide 1                           NaN
                      2                           NaN
        2002 suicide  1                           NaN
                      2                           NaN
             homicide 1                           NaN
                      2                           NaN
        2003 suicide  1                           NaN
                      2                           NaN
...                                               ...
4290    1998 traffic  1                           0.0
                      1                           0.0
                      1                           0.0
                      1                           0.0
                      1                           0.0
                      2                           0.0
                      2                           0.0
                      1                           0.0
                      2                           0.0
             suicide  1                           0.0

                           infant_deaths_age_7_27_days  \
country year cause    sex
1400    2001 suicide  1                            NaN
                      2                            NaN
             homicide 1                            NaN
                      2                            NaN
        2002 suicide  1                            NaN
                      2                            NaN
             homicide 1                            NaN
                      2                            NaN
        2003 suicide  1                            NaN
                      2                            NaN
...                                                ...
4290    1998 traffic  1                            0.0
                      1                            0.0
                      1                            0.0
                      1                            0.0
                      1                            0.0
                      2                            0.0
                      2                            0.0
                      1                            0.0
                      2                            0.0
             suicide  1                            0.0

                           infant_deaths_age_28_364_days
country year cause    sex
1400    2001 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        2002 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        2003 suicide  1                              NaN
                      2                              NaN
...                                                  ...
4290    1998 traffic  1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      2                              0.0
                      2                              0.0
                      1                              0.0
                      2                              0.0
             suicide  1                              0.0

[44713 rows x 30 columns]

In [221]:
df4 = df4.groupby(level=[0, 1, 2, 3]).agg("sum")

In [222]:
df4

                           deaths_all_ages  deaths_age_0_year  \
country year cause    sex
1125    2000 traffic  1                172                0.0
                      2                 32                0.0
        2001 traffic  1                 78                0.0
                      2                 19                0.0
        2002 traffic  1                 29                0.0
                      2                  8                0.0
        2003 traffic  1                  7                0.0
                      2                  4                0.0
        2004 traffic  1                 17                1.0
                      2                  4                0.0
...                                    ...                ...
5150    2002 homicide 1                  1                0.0
             traffic  1                297                1.0
                      2                142                1.0
        2003 suicide  1                  2                0.0
             traffic  1                325                0.0
                      2                155                1.0
        2004 homicide 1                  2                0.0
             suicide  2                  2                0.0
             traffic  1                305                3.0
                      2                142                2.0

                           deaths_age_1_year  deaths_age_2_years  \
country year cause    sex
1125    2000 traffic  1                  5.0                 0.0
                      2                  9.0                 0.0
        2001 traffic  1                  7.0                 0.0
                      2                  4.0                 0.0
        2002 traffic  1                  2.0                 0.0
                      2                  1.0                 0.0
        2003 traffic  1                  0.0                 0.0
                      2                  2.0                 0.0
        2004 traffic  1                  2.0                 0.0
                      2                  1.0                 0.0
...                                      ...                 ...
5150    2002 homicide 1                  0.0                 0.0
             traffic  1                  0.0                 1.0
                      2                  1.0                 1.0
        2003 suicide  1                  0.0                 0.0
             traffic  1                  0.0                 1.0
                      2                  1.0                 1.0
        2004 homicide 1                  0.0                 0.0
             suicide  2                  0.0                 0.0
             traffic  1                  1.0                 0.0
                      2                  1.0                 0.0

                           deaths_age_3_years  deaths_age_4_years  \
country year cause    sex
1125    2000 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
        2001 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
        2002 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
        2003 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
        2004 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
...                                       ...                 ...
5150    2002 homicide 1                   0.0                 0.0
             traffic  1                   1.0                 1.0
                      2                   1.0                 1.0
        2003 suicide  1                   0.0                 0.0
             traffic  1                   0.0                 2.0
                      2                   1.0                 2.0
        2004 homicide 1                   0.0                 0.0
             suicide  2                   0.0                 0.0
             traffic  1                   2.0                 1.0
                      2                   0.0                 0.0

                           deaths_age_5_9_years  deaths_age_10_14_years  \
country year cause    sex
1125    2000 traffic  1                     9.0                    16.0
                      2                     7.0                     1.0
        2001 traffic  1                     9.0                     0.0
                      2                     5.0                     1.0
        2002 traffic  1                     2.0                     3.0
                      2                     0.0                     0.0
        2003 traffic  1                     2.0                     0.0
                      2                     0.0                     1.0
        2004 traffic  1                     2.0                     0.0
                      2                     0.0                     1.0
...                                         ...                     ...
5150    2002 homicide 1                     0.0                     0.0
             traffic  1                     3.0                    11.0
                      2                     6.0                     4.0
        2003 suicide  1                     0.0                     0.0
             traffic  1                     7.0                     7.0
                      2                     1.0                     3.0
        2004 homicide 1                     0.0                     0.0
             suicide  2                     0.0                     0.0
             traffic  1                     3.0                     3.0
                      2                     2.0                     0.0

                           deaths_age_15_19_years  deaths_age_20_24_years  \
country year cause    sex
1125    2000 traffic  1                      22.0                    24.0
                      2                       2.0                     2.0
        2001 traffic  1                       6.0                     5.0
                      2                       0.0                     0.0
        2002 traffic  1                       1.0                     4.0
                      2                       1.0                     1.0
        2003 traffic  1                       1.0                     0.0
                      2                       0.0                     0.0
        2004 traffic  1                       2.0                     3.0
                      2                       0.0                     0.0
...                                           ...                     ...
5150    2002 homicide 1                       0.0                     0.0
             traffic  1                      41.0                    36.0
                      2                      14.0                    12.0
        2003 suicide  1                       0.0                     0.0
             traffic  1                      49.0                    40.0
                      2                      24.0                    16.0
        2004 homicide 1                       0.0                     0.0
             suicide  2                       0.0                     0.0
             traffic  1                      62.0                    38.0
                      2                      25.0                    21.0

                                       ...                \
country year cause    sex              ...
1125    2000 traffic  1                ...
                      2                ...
        2001 traffic  1                ...
                      2                ...
        2002 traffic  1                ...
                      2                ...
        2003 traffic  1                ...
                      2                ...
        2004 traffic  1                ...
                      2                ...
...                                    ...
5150    2002 homicide 1                ...
             traffic  1                ...
                      2                ...
        2003 suicide  1                ...
             traffic  1                ...
                      2                ...
        2004 homicide 1                ...
             suicide  2                ...
             traffic  1                ...
                      2                ...

                           deaths_age_75_79_years  deaths_age_80_84_years  \
country year cause    sex
1125    2000 traffic  1                       5.0                     3.0
                      2                       0.0                     0.0
        2001 traffic  1                       2.0                     0.0
                      2                       1.0                     0.0
        2002 traffic  1                       0.0                     1.0
                      2                       0.0                     0.0
        2003 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
        2004 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
...                                           ...                     ...
5150    2002 homicide 1                       0.0                     0.0
             traffic  1                      14.0                     7.0
                      2                       4.0                    10.0
        2003 suicide  1                       1.0                     0.0
             traffic  1                      10.0                     5.0
                      2                       6.0                     8.0
        2004 homicide 1                       0.0                     0.0
             suicide  2                       1.0                     0.0
             traffic  1                      10.0                     6.0
                      2                       5.0                     2.0

                           deaths_age_85_89_years  deaths_age_90_94_years  \
country year cause    sex
1125    2000 traffic  1                       1.0                     0.0
                      2                       0.0                     0.0
        2001 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
        2002 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
        2003 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
        2004 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
...                                           ...                     ...
5150    2002 homicide 1                       0.0                     0.0
             traffic  1                       4.0                     2.0
                      2                       2.0                     0.0
        2003 suicide  1                       0.0                     0.0
             traffic  1                       1.0                     0.0
                      2                       5.0                     1.0
        2004 homicide 1                       0.0                     0.0
             suicide  2                       0.0                     0.0
             traffic  1                       7.0                     3.0
                      2                       4.0                     1.0

                           deaths_age_95_years_and_above  \
country year cause    sex
1125    2000 traffic  1                              0.0
                      2                              0.0
        2001 traffic  1                              0.0
                      2                              0.0
        2002 traffic  1                              0.0
                      2                              0.0
        2003 traffic  1                              0.0
                      2                              0.0
        2004 traffic  1                              0.0
                      2                              0.0
...                                                  ...
5150    2002 homicide 1                              0.0
             traffic  1                              0.0
                      2                              0.0
        2003 suicide  1                              0.0
             traffic  1                              0.0
                      2                              0.0
        2004 homicide 1                              0.0
             suicide  2                              0.0
             traffic  1                              0.0
                      2                              0.0

                           deaths_age_unspecified  infant_deaths_age_0_day  \
country year cause    sex
1125    2000 traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
        2001 traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
        2002 traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
        2003 traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
        2004 traffic  1                       0.0                      1.0
                      2                       0.0                      0.0
...                                           ...                      ...
5150    2002 homicide 1                       0.0                      0.0
             traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
        2003 suicide  1                       0.0                      0.0
             traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
        2004 homicide 1                       0.0                      0.0
             suicide  2                       0.0                      0.0
             traffic  1                       0.0                      0.0
                      2                       0.0                      0.0

                           infant_deaths_age_1_6_days  \
country year cause    sex
1125    2000 traffic  1                           0.0
                      2                           0.0
        2001 traffic  1                           0.0
                      2                           0.0
        2002 traffic  1                           0.0
                      2                           0.0
        2003 traffic  1                           0.0
                      2                           0.0
        2004 traffic  1                           0.0
                      2                           0.0
...                                               ...
5150    2002 homicide 1                           0.0
             traffic  1                           0.0
                      2                           0.0
        2003 suicide  1                           0.0
             traffic  1                           0.0
                      2                           0.0
        2004 homicide 1                           0.0
             suicide  2                           0.0
             traffic  1                           0.0
                      2                           0.0

                           infant_deaths_age_7_27_days  \
country year cause    sex
1125    2000 traffic  1                            0.0
                      2                            0.0
        2001 traffic  1                            0.0
                      2                            0.0
        2002 traffic  1                            0.0
                      2                            0.0
        2003 traffic  1                            0.0
                      2                            0.0
        2004 traffic  1                            0.0
                      2                            0.0
...                                                ...
5150    2002 homicide 1                            0.0
             traffic  1                            0.0
                      2                            0.0
        2003 suicide  1                            0.0
             traffic  1                            0.0
                      2                            1.0
        2004 homicide 1                            0.0
             suicide  2                            0.0
             traffic  1                            1.0
                      2                            0.0

                           infant_deaths_age_28_364_days
country year cause    sex
1125    2000 traffic  1                              0.0
                      2                              0.0
        2001 traffic  1                              0.0
                      2                              0.0
        2002 traffic  1                              0.0
                      2                              0.0
        2003 traffic  1                              0.0
                      2                              0.0
        2004 traffic  1                              0.0
                      2                              0.0
...                                                  ...
5150    2002 homicide 1                              0.0
             traffic  1                              1.0
                      2                              1.0
        2003 suicide  1                              0.0
             traffic  1                              0.0
                      2                              0.0
        2004 homicide 1                              0.0
             suicide  2                              0.0
             traffic  1                              2.0
                      2                              2.0

[1733 rows x 30 columns]

In [200]:
icd102 = pd.read_csv('../source/Morticd10_part2.zip')

/Users/semio/.pyenv/versions/3.6.5/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [201]:
icd102.columns

Index(['Country', 'Admin1', 'SubDiv', 'Year', 'List', 'Cause', 'Sex', 'Frmat',
       'IM_Frmat', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5',
       'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11',
       'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17',
       'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23',
       'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1', 'IM_Deaths2',
       'IM_Deaths3', 'IM_Deaths4'],
      dtype='object')

In [202]:
df5 = icd102[['Country', 'Year', 'Cause', 'Sex', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5',
       'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11',
       'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17',
       'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23',
       'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1', 'IM_Deaths2',
       'IM_Deaths3', 'IM_Deaths4']].copy()

In [203]:
df5.columns = df5.columns.map(concept_mapping)

In [204]:
df5.columns

Index(['country', 'year', 'cause', 'sex', 'deaths_all_ages',
       'deaths_age_0_year', 'deaths_age_1_year', 'deaths_age_2_years',
       'deaths_age_3_years', 'deaths_age_4_years', 'deaths_age_5_9_years',
       'deaths_age_10_14_years', 'deaths_age_15_19_years',
       'deaths_age_20_24_years', 'deaths_age_25_29_years',
       'deaths_age_30_34_years', 'deaths_age_35_39_years',
       'deaths_age_40_44_years', 'deaths_age_45_49_years',
       'deaths_age_50_54_years', 'deaths_age_55_59_years',
       'deaths_age_60_64_years', 'deaths_age_65_69_years',
       'deaths_age_70_74_years', 'deaths_age_75_79_years',
       'deaths_age_80_84_years', 'deaths_age_85_89_years',
       'deaths_age_90_94_years', 'deaths_age_95_years_and_above',
       'deaths_age_unspecified', 'infant_deaths_age_0_day',
       'infant_deaths_age_1_6_days', 'infant_deaths_age_7_27_days',
       'infant_deaths_age_28_364_days'],
      dtype='object')

In [210]:
df5 = df5[df5.cause.isin(d10.keys())]

In [212]:
df5.cause = df5.cause.map(d10)

df5.cause.unique()

array(['suicide', 'homicide', 'traffic'], dtype=object)

In [213]:
df5 = df5.set_index(['country', 'year', 'cause', 'sex'])

In [214]:
df5

                           deaths_all_ages  deaths_age_0_year  \
country year cause    sex
1400    2005 suicide  1                  4                0.0
                      2                  1                0.0
             homicide 1                  2                0.0
                      2                  1                0.0
        2006 suicide  1                  8                0.0
                      2                  0                0.0
             homicide 1                  6                0.0
                      2                  3                0.0
        2007 suicide  1                  5                0.0
                      2                  1                0.0
...                                    ...                ...
5150    2013 traffic  1                  2                0.0
                      1                  1                0.0
                      1                  1                0.0
                      1                  1                0.0
                      1                  2                0.0
                      1                  1                0.0
                      1                  3                0.0
                      1                 13                0.0
                      2                  5                0.0
             homicide 1                  1                0.0

                           deaths_age_1_year  deaths_age_2_years  \
country year cause    sex
1400    2005 suicide  1                  0.0                 NaN
                      2                  0.0                 NaN
             homicide 1                  0.0                 NaN
                      2                  0.0                 NaN
        2006 suicide  1                  0.0                 NaN
                      2                  0.0                 NaN
             homicide 1                  0.0                 NaN
                      2                  0.0                 NaN
        2007 suicide  1                  0.0                 NaN
                      2                  0.0                 NaN
...                                      ...                 ...
5150    2013 traffic  1                  0.0                 0.0
                      1                  0.0                 0.0
                      1                  0.0                 0.0
                      1                  0.0                 0.0
                      1                  0.0                 0.0
                      1                  0.0                 0.0
                      1                  0.0                 0.0
                      1                  0.0                 0.0
                      2                  0.0                 0.0
             homicide 1                  0.0                 0.0

                           deaths_age_3_years  deaths_age_4_years  \
country year cause    sex
1400    2005 suicide  1                   NaN                 NaN
                      2                   NaN                 NaN
             homicide 1                   NaN                 NaN
                      2                   NaN                 NaN
        2006 suicide  1                   NaN                 NaN
                      2                   NaN                 NaN
             homicide 1                   NaN                 NaN
                      2                   NaN                 NaN
        2007 suicide  1                   NaN                 NaN
                      2                   NaN                 NaN
...                                       ...                 ...
5150    2013 traffic  1                   0.0                 0.0
                      1                   0.0                 0.0
                      1                   0.0                 0.0
                      1                   0.0                 0.0
                      1                   0.0                 0.0
                      1                   0.0                 0.0
                      1                   0.0                 0.0
                      1                   0.0                 0.0
                      2                   0.0                 0.0
             homicide 1                   0.0                 0.0

                           deaths_age_5_9_years  deaths_age_10_14_years  \
country year cause    sex
1400    2005 suicide  1                     0.0                     NaN
                      2                     1.0                     NaN
             homicide 1                     0.0                     NaN
                      2                     0.0                     NaN
        2006 suicide  1                     0.0                     NaN
                      2                     0.0                     NaN
             homicide 1                     0.0                     NaN
                      2                     1.0                     NaN
        2007 suicide  1                     0.0                     NaN
                      2                     0.0                     NaN
...                                         ...                     ...
5150    2013 traffic  1                     0.0                     0.0
                      1                     0.0                     0.0
                      1                     0.0                     0.0
                      1                     0.0                     0.0
                      1                     0.0                     0.0
                      1                     0.0                     0.0
                      1                     0.0                     0.0
                      1                     0.0                     0.0
                      2                     0.0                     0.0
             homicide 1                     0.0                     0.0

                           deaths_age_15_19_years  deaths_age_20_24_years  \
country year cause    sex
1400    2005 suicide  1                       1.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       1.0                     NaN
        2006 suicide  1                       1.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       1.0                     NaN
        2007 suicide  1                       0.0                     NaN
                      2                       0.0                     NaN
...                                           ...                     ...
5150    2013 traffic  1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     1.0
                      1                       0.0                     1.0
                      2                       0.0                     0.0
             homicide 1                       0.0                     0.0

                                       ...                \
country year cause    sex              ...
1400    2005 suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...
        2006 suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...
        2007 suicide  1                ...
                      2                ...
...                                    ...
5150    2013 traffic  1                ...
                      1                ...
                      1                ...
                      1                ...
                      1                ...
                      1                ...
                      1                ...
                      1                ...
                      2                ...
             homicide 1                ...

                           deaths_age_75_79_years  deaths_age_80_84_years  \
country year cause    sex
1400    2005 suicide  1                       0.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN
        2006 suicide  1                       2.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN
        2007 suicide  1                       1.0                     NaN
                      2                       0.0                     NaN
...                                           ...                     ...
5150    2013 traffic  1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      2                       1.0                     0.0
             homicide 1                       0.0                     0.0

                           deaths_age_85_89_years  deaths_age_90_94_years  \
country year cause    sex
1400    2005 suicide  1                       NaN                     NaN
                      2                       NaN                     NaN
             homicide 1                       NaN                     NaN
                      2                       NaN                     NaN
        2006 suicide  1                       NaN                     NaN
                      2                       NaN                     NaN
             homicide 1                       NaN                     NaN
                      2                       NaN                     NaN
        2007 suicide  1                       NaN                     NaN
                      2                       NaN                     NaN
...                                           ...                     ...
5150    2013 traffic  1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     0.0
                      1                       1.0                     0.0
                      1                       0.0                     0.0
                      1                       0.0                     1.0
                      2                       0.0                     0.0
             homicide 1                       0.0                     0.0

                           deaths_age_95_years_and_above  \
country year cause    sex
1400    2005 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        2006 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        2007 suicide  1                              NaN
                      2                              NaN
...                                                  ...
5150    2013 traffic  1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      2                              0.0
             homicide 1                              0.0

                           deaths_age_unspecified  infant_deaths_age_0_day  \
country year cause    sex
1400    2005 suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             homicide 1                       0.0                      0.0
                      2                       0.0                      0.0
        2006 suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             homicide 1                       0.0                      0.0
                      2                       0.0                      0.0
        2007 suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
...                                           ...                      ...
5150    2013 traffic  1                       0.0                      0.0
                      1                       0.0                      0.0
                      1                       0.0                      0.0
                      1                       0.0                      0.0
                      1                       0.0                      0.0
                      1                       0.0                      0.0
                      1                       0.0                      0.0
                      1                       0.0                      0.0
                      2                       0.0                      0.0
             homicide 1                       0.0                      0.0

                           infant_deaths_age_1_6_days  \
country year cause    sex
1400    2005 suicide  1                           NaN
                      2                           NaN
             homicide 1                           NaN
                      2                           NaN
        2006 suicide  1                           NaN
                      2                           NaN
             homicide 1                           NaN
                      2                           NaN
        2007 suicide  1                           NaN
                      2                           NaN
...                                               ...
5150    2013 traffic  1                           0.0
                      1                           0.0
                      1                           0.0
                      1                           0.0
                      1                           0.0
                      1                           0.0
                      1                           0.0
                      1                           0.0
                      2                           0.0
             homicide 1                           0.0

                           infant_deaths_age_7_27_days  \
country year cause    sex
1400    2005 suicide  1                            NaN
                      2                            NaN
             homicide 1                            NaN
                      2                            NaN
        2006 suicide  1                            NaN
                      2                            NaN
             homicide 1                            NaN
                      2                            NaN
        2007 suicide  1                            NaN
                      2                            NaN
...                                                ...
5150    2013 traffic  1                            0.0
                      1                            0.0
                      1                            0.0
                      1                            0.0
                      1                            0.0
                      1                            0.0
                      1                            0.0
                      1                            0.0
                      2                            0.0
             homicide 1                            0.0

                           infant_deaths_age_28_364_days
country year cause    sex
1400    2005 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        2006 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        2007 suicide  1                              NaN
                      2                              NaN
...                                                  ...
5150    2013 traffic  1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      1                              0.0
                      2                              0.0
             homicide 1                              0.0

[64058 rows x 30 columns]

In [223]:
df5 = df5.groupby(level=[0, 1, 2, 3]).agg("sum")

In [224]:
df5

                           deaths_all_ages  deaths_age_0_year  \
country year cause    sex
1125    2005 traffic  1                 16                0.0
        2006 traffic  1                 39                0.0
                      2                 10                0.0
        2007 traffic  1                110                2.0
                      2                 41                0.0
        2008 traffic  1                 43                1.0
                      2                 17                0.0
        2009 traffic  1                 18                0.0
                      2                  2                0.0
        2010 traffic  1                 26                1.0
...                                    ...                ...
5150    2010 traffic  2                114                1.0
        2011 homicide 1                  1                0.0
             traffic  1                229                0.0
                      2                 90                0.0
        2012 homicide 1                  1                0.0
             traffic  1                241                0.0
                      2                 93                0.0
        2013 homicide 1                  1                0.0
             traffic  1                192                2.0
                      2                 81                0.0

                           deaths_age_1_year  deaths_age_2_years  \
country year cause    sex
1125    2005 traffic  1                  2.0                 0.0
        2006 traffic  1                  3.0                 0.0
                      2                  2.0                 0.0
        2007 traffic  1                  6.0                 0.0
                      2                  5.0                 0.0
        2008 traffic  1                  2.0                 0.0
                      2                  1.0                 0.0
        2009 traffic  1                  2.0                 0.0
                      2                  0.0                 0.0
        2010 traffic  1                  0.0                 0.0
...                                      ...                 ...
5150    2010 traffic  2                  0.0                 1.0
        2011 homicide 1                  0.0                 0.0
             traffic  1                  0.0                 1.0
                      2                  0.0                 0.0
        2012 homicide 1                  0.0                 0.0
             traffic  1                  1.0                 0.0
                      2                  0.0                 1.0
        2013 homicide 1                  0.0                 0.0
             traffic  1                  0.0                 2.0
                      2                  0.0                 0.0

                           deaths_age_3_years  deaths_age_4_years  \
country year cause    sex
1125    2005 traffic  1                   0.0                 0.0
        2006 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
        2007 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
        2008 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
        2009 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
        2010 traffic  1                   0.0                 0.0
...                                       ...                 ...
5150    2010 traffic  2                   0.0                 0.0
        2011 homicide 1                   0.0                 0.0
             traffic  1                   2.0                 0.0
                      2                   0.0                 0.0
        2012 homicide 1                   0.0                 0.0
             traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
        2013 homicide 1                   0.0                 0.0
             traffic  1                   1.0                 0.0
                      2                   0.0                 0.0

                           deaths_age_5_9_years  deaths_age_10_14_years  \
country year cause    sex
1125    2005 traffic  1                     2.0                     1.0
        2006 traffic  1                     4.0                     0.0
                      2                     0.0                     0.0
        2007 traffic  1                     3.0                     4.0
                      2                     1.0                     3.0
        2008 traffic  1                     2.0                     2.0
                      2                     1.0                     1.0
        2009 traffic  1                     2.0                     3.0
                      2                     0.0                     0.0
        2010 traffic  1                     0.0                     0.0
...                                         ...                     ...
5150    2010 traffic  2                     0.0                     3.0
        2011 homicide 1                     0.0                     0.0
             traffic  1                     0.0                     3.0
                      2                     1.0                     4.0
        2012 homicide 1                     0.0                     0.0
             traffic  1                     3.0                     7.0
                      2                     0.0                     2.0
        2013 homicide 1                     0.0                     0.0
             traffic  1                     0.0                     3.0
                      2                     0.0                     0.0

                           deaths_age_15_19_years  deaths_age_20_24_years  \
country year cause    sex
1125    2005 traffic  1                       1.0                     0.0
        2006 traffic  1                      10.0                     3.0
                      2                       2.0                     0.0
        2007 traffic  1                      18.0                    22.0
                      2                       2.0                     2.0
        2008 traffic  1                       6.0                     8.0
                      2                       2.0                     1.0
        2009 traffic  1                       3.0                     1.0
                      2                       0.0                     0.0
        2010 traffic  1                       4.0                     5.0
...                                           ...                     ...
5150    2010 traffic  2                      12.0                    15.0
        2011 homicide 1                       0.0                     0.0
             traffic  1                      30.0                    36.0
                      2                      10.0                    11.0
        2012 homicide 1                       0.0                     0.0
             traffic  1                      23.0                    28.0
                      2                       9.0                     8.0
        2013 homicide 1                       0.0                     0.0
             traffic  1                      22.0                    27.0
                      2                      11.0                    11.0

                                       ...                \
country year cause    sex              ...
1125    2005 traffic  1                ...
        2006 traffic  1                ...
                      2                ...
        2007 traffic  1                ...
                      2                ...
        2008 traffic  1                ...
                      2                ...
        2009 traffic  1                ...
                      2                ...
        2010 traffic  1                ...
...                                    ...
5150    2010 traffic  2                ...
        2011 homicide 1                ...
             traffic  1                ...
                      2                ...
        2012 homicide 1                ...
             traffic  1                ...
                      2                ...
        2013 homicide 1                ...
             traffic  1                ...
                      2                ...

                           deaths_age_75_79_years  deaths_age_80_84_years  \
country year cause    sex
1125    2005 traffic  1                       0.0                     1.0
        2006 traffic  1                       0.0                     1.0
                      2                       1.0                     0.0
        2007 traffic  1                       1.0                     1.0
                      2                       1.0                     0.0
        2008 traffic  1                       1.0                     0.0
                      2                       0.0                     0.0
        2009 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
        2010 traffic  1                       0.0                     0.0
...                                           ...                     ...
5150    2010 traffic  2                       3.0                     9.0
        2011 homicide 1                       0.0                     0.0
             traffic  1                       4.0                     6.0
                      2                       5.0                     9.0
        2012 homicide 1                       0.0                     0.0
             traffic  1                       7.0                    10.0
                      2                      10.0                     5.0
        2013 homicide 1                       0.0                     0.0
             traffic  1                      10.0                     7.0
                      2                       2.0                     6.0

                           deaths_age_85_89_years  deaths_age_90_94_years  \
country year cause    sex
1125    2005 traffic  1                       0.0                     0.0
        2006 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
        2007 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
        2008 traffic  1                       1.0                     0.0
                      2                       0.0                     0.0
        2009 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
        2010 traffic  1                       0.0                     0.0
...                                           ...                     ...
5150    2010 traffic  2                       3.0                     2.0
        2011 homicide 1                       0.0                     0.0
             traffic  1                       4.0                     2.0
                      2                       4.0                     1.0
        2012 homicide 1                       0.0                     0.0
             traffic  1                       3.0                     4.0
                      2                       3.0                     0.0
        2013 homicide 1                       0.0                     0.0
             traffic  1                       7.0                     1.0
                      2                       1.0                     4.0

                           deaths_age_95_years_and_above  \
country year cause    sex
1125    2005 traffic  1                              0.0
        2006 traffic  1                              0.0
                      2                              0.0
        2007 traffic  1                              0.0
                      2                              0.0
        2008 traffic  1                              0.0
                      2                              0.0
        2009 traffic  1                              0.0
                      2                              0.0
        2010 traffic  1                              0.0
...                                                  ...
5150    2010 traffic  2                              1.0
        2011 homicide 1                              0.0
             traffic  1                              0.0
                      2                              1.0
        2012 homicide 1                              0.0
             traffic  1                              2.0
                      2                              2.0
        2013 homicide 1                              0.0
             traffic  1                              0.0
                      2                              0.0

                           deaths_age_unspecified  infant_deaths_age_0_day  \
country year cause    sex
1125    2005 traffic  1                       0.0                      0.0
        2006 traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
        2007 traffic  1                       0.0                      2.0
                      2                       0.0                      0.0
        2008 traffic  1                       0.0                      1.0
                      2                       0.0                      0.0
        2009 traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
        2010 traffic  1                       0.0                      1.0
...                                           ...                      ...
5150    2010 traffic  2                       0.0                      0.0
        2011 homicide 1                       0.0                      0.0
             traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
        2012 homicide 1                       0.0                      0.0
             traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
        2013 homicide 1                       0.0                      0.0
             traffic  1                       0.0                      0.0
                      2                       0.0                      0.0

                           infant_deaths_age_1_6_days  \
country year cause    sex
1125    2005 traffic  1                           0.0
        2006 traffic  1                           0.0
                      2                           0.0
        2007 traffic  1                           0.0
                      2                           0.0
        2008 traffic  1                           0.0
                      2                           0.0
        2009 traffic  1                           0.0
                      2                           0.0
        2010 traffic  1                           0.0
...                                               ...
5150    2010 traffic  2                           0.0
        2011 homicide 1                           0.0
             traffic  1                           0.0
                      2                           0.0
        2012 homicide 1                           0.0
             traffic  1                           0.0
                      2                           0.0
        2013 homicide 1                           0.0
             traffic  1                           0.0
                      2                           0.0

                           infant_deaths_age_7_27_days  \
country year cause    sex
1125    2005 traffic  1                            0.0
        2006 traffic  1                            0.0
                      2                            0.0
        2007 traffic  1                            0.0
                      2                            0.0
        2008 traffic  1                            0.0
                      2                            0.0
        2009 traffic  1                            0.0
                      2                            0.0
        2010 traffic  1                            0.0
...                                                ...
5150    2010 traffic  2                            0.0
        2011 homicide 1                            0.0
             traffic  1                            0.0
                      2                            0.0
        2012 homicide 1                            0.0
             traffic  1                            0.0
                      2                            0.0
        2013 homicide 1                            0.0
             traffic  1                            1.0
                      2                            0.0

                           infant_deaths_age_28_364_days
country year cause    sex
1125    2005 traffic  1                              0.0
        2006 traffic  1                              0.0
                      2                              0.0
        2007 traffic  1                              0.0
                      2                              0.0
        2008 traffic  1                              0.0
                      2                              0.0
        2009 traffic  1                              0.0
                      2                              0.0
        2010 traffic  1                              0.0
...                                                  ...
5150    2010 traffic  2                              1.0
        2011 homicide 1                              0.0
             traffic  1                              0.0
                      2                              0.0
        2012 homicide 1                              0.0
             traffic  1                              0.0
                      2                              0.0
        2013 homicide 1                              0.0
             traffic  1                              1.0
                      2                              0.0

[2937 rows x 30 columns]

In [227]:
all_df = [df1, df2, df3, df4, df5]

In [230]:
for v in all_df:
    print(v.shape)

(4618, 30)
(5032, 30)
(10143, 30)
(1733, 30)
(2937, 30)

In [231]:
df_all = pd.concat(all_df)

In [233]:
df_all.index.duplicated().any()

True

In [234]:
df_all[df_all.index.duplicated()]

                           deaths_all_ages  deaths_age_0_year  \
country year cause    sex
2350    1968 traffic  1                  6                0.0
                      2                  1                0.0
             suicide  1                  3                0.0
                      2                  1                0.0
             homicide 1                  0                0.0
                      2                  0                0.0
        1969 traffic  1                  6                0.0
                      2                  3                0.0
             suicide  1                  0                0.0
                      2                  1                0.0
...                                    ...                ...
3150    1975 suicide  1                141                0.0
                      2                104                0.0
             homicide 1                 25                1.0
                      2                 12                1.0
        1976 traffic  1                291                0.0
                      2                145                1.0
             suicide  1                155                0.0
                      2                 93                0.0
             homicide 1                 28                0.0
                      2                 13                0.0

                           deaths_age_1_year  deaths_age_2_years  \
country year cause    sex
2350    1968 traffic  1                  0.0                 0.0
                      2                  0.0                 0.0
             suicide  1                  0.0                 0.0
                      2                  0.0                 0.0
             homicide 1                  0.0                 0.0
                      2                  0.0                 0.0
        1969 traffic  1                  0.0                 0.0
                      2                  0.0                 0.0
             suicide  1                  0.0                 0.0
                      2                  0.0                 0.0
...                                      ...                 ...
3150    1975 suicide  1                  0.0                 0.0
                      2                  0.0                 0.0
             homicide 1                  0.0                 0.0
                      2                  0.0                 0.0
        1976 traffic  1                  4.0                 2.0
                      2                  1.0                 2.0
             suicide  1                  0.0                 0.0
                      2                  0.0                 0.0
             homicide 1                  0.0                 0.0
                      2                  0.0                 0.0

                           deaths_age_3_years  deaths_age_4_years  \
country year cause    sex
2350    1968 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
             suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
             homicide 1                   0.0                 0.0
                      2                   0.0                 0.0
        1969 traffic  1                   0.0                 0.0
                      2                   0.0                 0.0
             suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
...                                       ...                 ...
3150    1975 suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
             homicide 1                   0.0                 0.0
                      2                   0.0                 0.0
        1976 traffic  1                   4.0                 1.0
                      2                   2.0                 2.0
             suicide  1                   0.0                 0.0
                      2                   0.0                 0.0
             homicide 1                   0.0                 0.0
                      2                   0.0                 0.0

                           deaths_age_5_9_years  deaths_age_10_14_years  \
country year cause    sex
2350    1968 traffic  1                     0.0                     0.0
                      2                     0.0                     0.0
             suicide  1                     0.0                     0.0
                      2                     0.0                     0.0
             homicide 1                     0.0                     0.0
                      2                     0.0                     0.0
        1969 traffic  1                     1.0                     0.0
                      2                     0.0                     0.0
             suicide  1                     0.0                     0.0
                      2                     0.0                     0.0
...                                         ...                     ...
3150    1975 suicide  1                     0.0                     1.0
                      2                     0.0                     0.0
             homicide 1                     1.0                     2.0
                      2                     1.0                     1.0
        1976 traffic  1                     9.0                     5.0
                      2                     2.0                     3.0
             suicide  1                     0.0                     1.0
                      2                     0.0                     0.0
             homicide 1                     0.0                     0.0
                      2                     0.0                     0.0

                           deaths_age_15_19_years  deaths_age_20_24_years  \
country year cause    sex
2350    1968 traffic  1                       1.0                     3.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     0.0
             homicide 1                       0.0                     0.0
                      2                       0.0                     0.0
        1969 traffic  1                       0.0                     1.0
                      2                       1.0                     1.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     0.0
...                                           ...                     ...
3150    1975 suicide  1                       8.0                    20.0
                      2                       4.0                     9.0
             homicide 1                       0.0                     5.0
                      2                       3.0                     3.0
        1976 traffic  1                      15.0                    36.0
                      2                      17.0                    14.0
             suicide  1                       9.0                    16.0
                      2                       5.0                     7.0
             homicide 1                       6.0                     5.0
                      2                       1.0                     3.0

                                       ...                \
country year cause    sex              ...
2350    1968 traffic  1                ...
                      2                ...
             suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...
        1969 traffic  1                ...
                      2                ...
             suicide  1                ...
                      2                ...
...                                    ...
3150    1975 suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...
        1976 traffic  1                ...
                      2                ...
             suicide  1                ...
                      2                ...
             homicide 1                ...
                      2                ...

                           deaths_age_75_79_years  deaths_age_80_84_years  \
country year cause    sex
2350    1968 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     0.0
             homicide 1                       0.0                     0.0
                      2                       0.0                     0.0
        1969 traffic  1                       0.0                     0.0
                      2                       0.0                     0.0
             suicide  1                       0.0                     0.0
                      2                       0.0                     0.0
...                                           ...                     ...
3150    1975 suicide  1                       3.0                     3.0
                      2                       6.0                     2.0
             homicide 1                       1.0                     0.0
                      2                       1.0                     0.0
        1976 traffic  1                      14.0                     8.0
                      2                      11.0                     3.0
             suicide  1                       7.0                     5.0
                      2                       3.0                     5.0
             homicide 1                       0.0                     0.0
                      2                       0.0                     0.0

                           deaths_age_85_89_years  deaths_age_90_94_years  \
country year cause    sex
2350    1968 traffic  1                       0.0                     NaN
                      2                       0.0                     NaN
             suicide  1                       0.0                     NaN
                      2                       0.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN
        1969 traffic  1                       0.0                     NaN
                      2                       0.0                     NaN
             suicide  1                       0.0                     NaN
                      2                       0.0                     NaN
...                                           ...                     ...
3150    1975 suicide  1                       2.0                     NaN
                      2                       1.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       0.0                     NaN
        1976 traffic  1                       4.0                     NaN
                      2                       1.0                     NaN
             suicide  1                       2.0                     NaN
                      2                       1.0                     NaN
             homicide 1                       0.0                     NaN
                      2                       1.0                     NaN

                           deaths_age_95_years_and_above  \
country year cause    sex
2350    1968 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        1969 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
...                                                  ...
3150    1975 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        1976 traffic  1                              NaN
                      2                              NaN
             suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN

                           deaths_age_unspecified  infant_deaths_age_0_day  \
country year cause    sex
2350    1968 traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
             suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             homicide 1                       0.0                      0.0
                      2                       0.0                      0.0
        1969 traffic  1                       0.0                      0.0
                      2                       0.0                      0.0
             suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
...                                           ...                      ...
3150    1975 suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             homicide 1                       0.0                      1.0
                      2                       0.0                      1.0
        1976 traffic  1                       1.0                      0.0
                      2                       0.0                      0.0
             suicide  1                       0.0                      0.0
                      2                       0.0                      0.0
             homicide 1                       0.0                      0.0
                      2                       0.0                      0.0

                           infant_deaths_age_1_6_days  \
country year cause    sex
2350    1968 traffic  1                           0.0
                      2                           0.0
             suicide  1                           0.0
                      2                           0.0
             homicide 1                           0.0
                      2                           0.0
        1969 traffic  1                           0.0
                      2                           0.0
             suicide  1                           0.0
                      2                           0.0
...                                               ...
3150    1975 suicide  1                           NaN
                      2                           NaN
             homicide 1                           NaN
                      2                           NaN
        1976 traffic  1                           0.0
                      2                           0.0
             suicide  1                           0.0
                      2                           0.0
             homicide 1                           0.0
                      2                           0.0

                           infant_deaths_age_7_27_days  \
country year cause    sex
2350    1968 traffic  1                            0.0
                      2                            0.0
             suicide  1                            0.0
                      2                            0.0
             homicide 1                            0.0
                      2                            0.0
        1969 traffic  1                            0.0
                      2                            0.0
             suicide  1                            0.0
                      2                            0.0
...                                                ...
3150    1975 suicide  1                            NaN
                      2                            NaN
             homicide 1                            NaN
                      2                            NaN
        1976 traffic  1                            0.0
                      2                            1.0
             suicide  1                            0.0
                      2                            0.0
             homicide 1                            0.0
                      2                            0.0

                           infant_deaths_age_28_364_days
country year cause    sex
2350    1968 traffic  1                              0.0
                      2                              0.0
             suicide  1                              0.0
                      2                              0.0
             homicide 1                              0.0
                      2                              0.0
        1969 traffic  1                              0.0
                      2                              0.0
             suicide  1                              0.0
                      2                              0.0
...                                                  ...
3150    1975 suicide  1                              NaN
                      2                              NaN
             homicide 1                              NaN
                      2                              NaN
        1976 traffic  1                              0.0
                      2                              0.0
             suicide  1                              0.0
                      2                              0.0
             homicide 1                              0.0
                      2                              0.0

[72 rows x 30 columns]

In [243]:
icd8.query("Country == '3150' and Year == 1976 and Sex == 1 and Cause == 'A137'")

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
135621,3150,NaN,NaN,1976,08A,A137,1,1,8,743,...,84.0,29.0,44.0,NaN,NaN,2.0,50.0,NaN,NaN,NaN
141863,3150,901.0,NaN,1976,08A,A137,1,1,1,604,...,71.0,27.0,29.0,NaN,NaN,1.0,1.0,1.0,3.0,29.0

In [ ]:
# TODO: for China ICD9 and ICD 10 special list for Portugal